[2019-08-04 18:36] replikation opened #1 "Phage prediction tools to include"
# List of Tools

## Implement?

* [VirMiner(Mining, analyzing, and integrating viral signals from metagenomic data)](https://github.com/TingtZHENG/VirMiner/)
  * [Paper](https://microbiomejournal.biomedcentral.com/articles/10.1186/s40168-019-0657-y)
  + [ ] Docker file created
* [VirMine (viral sequences from metagenomes)](https://github.com/thatzopoulos/virMine)
  * [Paper](https://europepmc.org/

[2019-08-04 18:40] replikation opened #2 "Publications overview"
* overview of publications that benchmark
* and short summary about tool or and benchmark links

[2019-08-04 18:58] replikation opened #3 "Data"
* Disscussion of data we want to use and include

[2019-08-04 19:09] Stormrider935 opened #4 "possible Workflows"
[first_workflow_mike_test](https://drive.google.com/file/d/1LUIUN_T64bNvV5ks4cAIj88hTYH_cpLV/view?usp=sharing)

[2019-08-13 08:51] Stormrider935 opened #5 "Problems with dockers"
# General thread to talk and solve Dockerfile issues

[2019-08-14 19:15] replikation opened #6 "Own Database of phages on ncbi"
#  Own database
* [ ] create a list of Accessionnumbers of phages - within the repository under `database/`
   * we collect this via ncbi eutils via the nextflow run an build a database
    * see [this process](https://github.com/replikation/plasmid_analysis/blob/18ccbded07ac19755ebd99d5a52068caa8bc7477/main.nf#L32)

[2019-08-14 19:22] replikation opened #7 "Mock data for Benchmarking"
# Mockdata and Real data for Benchmarking
## Mock data

* see this issue for [phage data](https://github.com/replikation/wf_phage_benchmark/issues/6)
   * create reads out of this data and/or mix it with refseq genome data
    * use pomoxis for simulated ONT reads
        * try phage prediction on raw data/reads

### Mockdata sources (paste here)

## real data

* utilize mikes real metagenomic dat

[2019-09-06 08:55] mult1fractal opened #8 "PPR meta nextflow integration"
`nextflow run phage.nf --fasta 'test-data/*.fa'`

Launching `phage.nf` [festering_nightingale] - revision: 01c9983eeb
WARN: DSL 2 IS AN EXPERIMENTAL FEATURE UNDER DEVELOPMENT -- SYNTAX MAY CHANGE IN FUTURE RELEASE

Profile: standard

Current User: mike
Nextflow-version: 19.07.0
Starting time: 27-07-2019 13:22 UTC
Workdir location:
  /tmp/nextflow-work-mike

CPUs to use: 8
Output dir name: results

[2019-09-06 09:35] #8 closed, assigned to nobody

[2019-09-09 13:06] Stormrider935 opened #9 "Filter Results from tools for further application (smatools, taxonomy, heatmap)"
### Metaphinder

Output from tool:

ctg1	phage	75.357	99.967	71	77616
ctg2	phage	12.049	16.991	61	45788
ctg3	phage	61.742	83.422	80	56341
ctg4	phage	75.595	99.995	55	18684
ctg5	phage	54.507	72.777	12	11233
ctg6	phage	58.68	78.916	32	10420
ctg7	phage	71.843	95.827	47	11046
ctg8	phage	51.998	67.979	14	8713
ctg9	phage	75.518	99.99	52	9716
ctg10	phage	74.659	98.796	47	8641

[code]

output filterscript

[2019-10-14 12:18] replikation opened #10 ".splitFasta()"
# add ``.splitFasta()``

* add a --splitFasta() file input and a merge to the workflow to allow the computation of large files on smaller systems
* maybe control the "splitamount" via a flag so user can adjust until its working ?

[2019-10-24 20:02] #2 closed, assigned to mult1fractal

[2019-10-28 13:28] Stormrider935 commented on #5
* i have the same problem if i attach another 1 to the code like this `printf '1\n1\n1\nn'`
* it still stops here ..

[1] /opt/conda/bin/prodigal
[2] Add another path manually
Choose your option (Enter for /opt/conda/bin/prodigal): Please select appropriate HMMER location
[1] /opt/conda/bin/hmmsearch
[2] Add another path manually
Choose your option (Enter for /opt/conda/bin/hmmsearch):

[2019-10-28 14:50] Stormrider935 commented on #5
* Problem solved.. maybe...
* I tried the following base image: `From continuumio/miniconda2` and not `miniconda 3`
* seems to work
* but it's python 2.7....

[2019-10-28 15:38] replikation commented on #5
we cant go into the /phigaro workdir. we have a separate process dir in nextflow

[2019-10-29 11:46] Stormrider935 commented on #5
* phigaro takes only ctgs > 20000bp
* smaller ctgs will not be analyzed
* for module:
[code]

[2019-11-01 10:17] hoelzer opened #11 "PhageTerm: detection of phage termini and packaging mechanism"
I just stumbled over this tool:

[PhageTerm publication](https://www.nature.com/articles/s41598-017-07910-5)

that sounds interesting. It seems they are using different known phage replication strategies (such as DTR, direct terminal repeats) to describe phage sequences in more detail besides simply stating: __this (could) be a phage__

Maybe it is possible to put PhageTerm on top of the already i

[2019-11-02 09:46] replikation commented on #10
@Stormrider935 implemented with latest release. please test and close this if its working

[2019-11-02 12:27] replikation commented on #11
Sounds interesting, thanks. @Stormrider935 please  check this

[2019-11-02 12:27] #4 closed

[2019-11-03 18:51] replikation opened #12 "improve readme prior abstract submission"
@Stormrider935

add a installation manual to the readme.

# simple install
sudo Java runtime
sudo docker
usermod docker
wget nextflow

[2019-11-03 19:47] Stormrider935 commented on #12
# how to install and run your first sample
### how to install java
### where to get docker + installation; just c&p
### where to get nextflow + installation just c&p
### example for own sample

[2019-11-04 09:13] Stormrider935 commented on #12
README.md updated!

[2019-11-04 09:37] replikation commented on #12
okay Readme looks good. closing this

[2019-11-04 09:37] #12 closed

[2019-11-04 10:48] hoelzer opened #13 "Pipeline execution on a cluster using LSF schedule system and Singularity images"
I just wanted to give the pipeline a try here at the EBI server structure using Singularity and LSF to schedule jobs. I made a new branch and added the following profile to the configuration to get it ready to run:

[code]
The pipeline starts well but I get problems while pulling the docker images and converting them to singularity images:

[code]

I think this could be related to no tags are used

[2019-11-04 10:51] hoelzer commented on #13
Haha, forget it, it seems the problem was an empty space in the container definition :)

[code]
But now I get an

[code]

and will further investigate this ;)

But it seems that the docker image was converted now correctly to a singularity image.

[2019-11-04 10:56] replikation commented on #13
@hoelzer okay so it is not the `:latest` image?
* `unexpected error`  ... wow super helpful :dancer:
* okay, interesting, you can go lower on CPU I think. they are usually quite fast
* adding this config would be great, can also be easily converted to cloud then

[2019-11-04 11:06] replikation opened #14 "Add the version tag to the configs"
@Stormrider935
* add the docker version tags to the config file, they are all tagged as latest not 0.1 etc.
* make a test run and push it to master if it works
* also see #10

[2019-11-04 12:54] hoelzer commented on #13
@replikation

yeah, I will try to figure out what's going on and if I get it working I can also merge the configuration.

[2019-11-04 13:35] Stormrider935 commented on #14
* changed latest to 0.1
* all 0.1 tags are working except virsorter

  Process `virsorter_wf:virsorter (1)` terminated with an error exit status (2)

  Bin            : /VirSorter
  Dataset        : VIRSorter
  Input file     : POI_draft.fa
  Db             : 1
  Working dir    : virsorter
  Custom phages  :
  Data dir       : virsorter-data
  Num CPUs       : 8
  blastp         : blastp

  Step 0

[2019-11-04 14:28] #10 closed

[2019-11-04 14:38] hoelzer commented on #13
Due to the really meaningful error message: "Execution aborted due to an unexpected error" I tried to figure out which module(s) is(are) causing trouble by executing the pipeline step-wise.

&#x2714; VirSorter
&#x2714; VirFinder
X PPRmeta
&#x2714; metaphinder
X marvel
&#x2714; deepvirfinder

Ad PPRmeta:
[code]

Ad MARVEL
[code]

@replikation @Stormrider935 any ideas?

[2019-11-04 14:41] hoelzer commented on #13
I just checked for MARVEL and the ``resuts.txt`` file is empty. I think that's already a problem.

[2019-11-04 14:48] replikation commented on #13
@hoelzer  can you attach me the files of each process? I mean the log, err files etc. (the nextflow files within each process)

[2019-11-04 14:49] replikation commented on #13
both processes are the only tools with additional databases and dependencies, either remove these "stored" files, so they are "fresh", or we need to figure out why they are not used.

[2019-11-04 14:52] hoelzer commented on #13
I will delete the "stored" files, execute MARVEL and PPRmeta again and then add the files here.

[2019-11-04 14:53] replikation commented on #13
can you also check if these "stored" files exist?

[2019-11-04 14:54] hoelzer commented on #13
You mean in 'nextflow-autodownload-databases'?

There I only have folders for

* pprmeta
* virsorter

[2019-11-04 14:54] replikation commented on #13
yes exactly.

Sourmash/busco was working? (the other pipelines of nz) via lsf and singularity? because they also use storeDir for the databases. And mitos also

[2019-11-04 14:56] replikation commented on #13
I currently think there might be a proper/stable way of handling DBs. Because it worked in some cases for you. We just need to figure out which is the best approach

[2019-11-04 14:57] hoelzer commented on #13
Hm yes you are right, but I think I manually adjusted the database storage folder for the LSF cluster.  I used a configuration similar to our cloud configurations. Let me check, I will adjust the config profile and try it again.

[2019-11-04 14:57] replikation commented on #13
and the 2 folders `pprmeta` and `virsorter` contain files?

[2019-11-04 14:57] hoelzer commented on #13
yeah they contained files

[2019-11-04 14:58] replikation commented on #13
okay because i noticed that the dependencies of these are labeled with `label 'noDocker'`

[2019-11-04 14:58] replikation commented on #13
could it be that these have to be executed in a docker also?

[2019-11-04 14:58] hoelzer commented on #13
oh! Yeah that could be also the problem. Where is this defined? in the modules itself?

[2019-11-04 14:59] replikation commented on #13
[code]

[2019-11-04 14:59] replikation commented on #13
you can add a config statment to them

[2019-11-04 14:59] replikation commented on #13
withLabel noDocker

[2019-11-04 15:02] hoelzer commented on #13
ok, but also virsorter had this noDocker label and this tool worked.

[2019-11-04 15:02] replikation commented on #13
ah fuck :D

[2019-11-04 15:03] replikation commented on #13
ah right its marvel and ppr meta....

[2019-11-04 15:04] replikation commented on #13
they both have `cp` statments. otherwise i probably need to see the log files were it fails.

[2019-11-04 15:06] hoelzer commented on #13
ok I am now at PPRMeta. I added the noDocker abricate config as mentioned above and the database seems to be downloaded into nextflow-autodownload-databases, then:

[code]

[2019-11-04 15:10] hoelzer commented on #13
H, but manually executing the image and running

[code]

from within the container works...

[2019-11-04 15:18] hoelzer commented on #13
For MARVEL I get now:

[code]

It looks like there is again something weird with starting the correct singularity images. I will delete them again and try to pull them now with the 1.0 tag added by @Stormrider935

[2019-11-04 15:23] replikation commented on #13
iam wondering with these singularity container. is it maybe better to build them yourself, or how is it actually working?

[2019-11-04 15:24] replikation commented on #13
btw you can run this probably locally. its not that heavy ;)

[2019-11-04 15:31] hoelzer commented on #13
yeah, don't know exactly. SIngularity takes the docker image and translates it into a singularity image - somehow :)

[2019-11-04 15:32] hoelzer commented on #13
yeah, a test sample just finished on my local machine, so that's working - nice work ;)

However, I am eager to get it also running on the cluster... hmm

[2019-11-04 15:55] replikation commented on #13
i mean the additional singularity know-how is nice. That's true

[2019-11-05 09:55] hoelzer commented on #13
I close this issue and open two new ones for PPRMeta and MARVEL to figure out what is going on at the LSF cluster.

[2019-11-05 09:55] #13 closed

[2019-11-05 09:59] hoelzer opened #15 "VirSorter filtering"
I saw that you filter the VirSorter output to only collect phages from the files

* VIRSorter_cat-1.fasta
* VIRSorter_cat-2.fasta

[code]

Why not also include the cat-3 phages? To reduce the amount of false-positive hits? However, to have a somewhat fair comparison with the other tools it might be worth to also include cat-3 phages identified by VirSorter?

And prophages you are not interested at

[2019-11-05 10:01] hoelzer opened #16 "Run @LSF cluster: PPRMeta"
Execution from the nextflow pipeline throws:

[code]

The git/database is cloned correctly.

[2019-11-05 10:11] hoelzer commented on #16
Direct execution via Singularity works:

[code]

[2019-11-05 10:15] hoelzer commented on #16
However, this command is generated by nextflow (``.command.run``) and executed then:

[code]

running into

[code]

[2019-11-05 10:18] hoelzer commented on #16
Modifying this command to

[code]

works. I changed

[code]

to

[code]

So the container runtime is freshly created (I think).

[2019-11-05 10:25] hoelzer commented on #16
Ok, executing like this:

[code]

does not write a

[code]

file. It seems nextflow somehow forces writing of such a singularity image during runtime. THen this is used and does not work (throws this lib error).

[2019-11-05 10:27] replikation commented on #15
@Stormrider935 please read up on what to include ;)

[2019-11-05 10:30] replikation commented on #15
The current status is (i think) that filtering is still work in progress, between these tools. So if you may have additional insights in what to include, feel free to add ;)

[2019-11-05 10:30] replikation commented on #16
so nextflow is building the wrong singularity container or what is the issue?

[2019-11-05 10:34] hoelzer commented on #16
I try to figure it out. But yes, it seems that nextflow builds a singularity image from the docker files that is somehow defect.

When I just execute the following code on the LSF cluster:

[code]

7 files are downloaded and the container runtime is built correctly and everything runs smooth.

No file

[code]

is created and used. While executing with nextflow, such a file is generated and used an

[2019-11-05 10:38] replikation commented on #16
okay the question is if you can tell nextflow to change the execution type.
Sadly not much written [here](https://www.nextflow.io/docs/edge/singularity.html?highlight=singularity)

did you try this option?
`singularity.autoMounts = true`

also check this:
* When a process input is a symbolic link file, make sure the linked file is stored in a host folder that is accessible from a bind path defined

[2019-11-05 10:39] replikation commented on #16
could be this issue, or difference:

Unlike Docker, Nextflow does not mount automatically host paths in the container when using Singularity. It expects they are configure and mounted system wide by the Singularity runtime. If your Singularity installation allows user defined bind points read the Singularity configuration section to learn how to enable Nextflow auto mounts.

[2019-11-05 10:40] Stormrider935 commented on #15
yes i will check later.. the first version of all filter scripst were included to generate some output for replikation's heatmap.

[2019-11-05 10:41] replikation commented on #16
could be the reason why its not able to open the file

[2019-11-05 10:48] hoelzer commented on #16
Thx, yeah I was just reading the same web page hoping to find out how Nextflow actually does the conversion of an image from DockerHub to this *.img Singularity file that then will be used. But yeah, not so much information there.

This is what happens when I delete the *.img file, Nextflow automatically pulls it from the DockerHub location:

[code]

and then throws the lib error. I just tried ``s

[2019-11-05 11:10] hoelzer commented on #16
Was ist das auch fuer eine komische library? Die findet man immer nur im Zusammenhang mit MATLAB

https://www.mathworks.com/matlabcentral/answers/267562-how-can-i-resolve-this-mcc-runtime-error-cannot-open-shared-object-library#answer_211306

[2019-11-05 11:17] hoelzer opened #17 "RUN @LSF cluster: MARVEL"
[code]

[2019-11-05 11:19] hoelzer commented on #16
What I also just noticed: both dockers that make trouble are larger than 5GB... would be strange but maybe that is also an issue. @replikation I remember the problems with the MITOS docker and this one was also huge and I think only ~3GB when you build it again

[2019-11-05 11:25] hoelzer commented on #17
[code]

again works. So not using the *.img singularity file generated during nextflow execution (like for PPRMeta #16) seems to work.

[2019-11-05 11:59] replikation commented on #16
the large docker issue is currently limited to google genomics because it only has a 10 GB boot disk, and docker container are pulled there. Nextflow is working on "bootdisk" adjustments :)
Mitos was 3GB "packed" so it was filling up the boot disk.

[2019-11-05 12:01] replikation commented on #16
so in the end it might be better to build singularity container first.?

[2019-11-05 12:02] replikation commented on #17
i would suggest now to add this to nextflow as an issue, or you could ask here in gitter:
https://gitter.im/nextflow-io/nextflow#

[2019-11-05 13:00] Stormrider935 commented on #15
* here is my suggestion for the filter scripts
* the goal of our filter scripts was to reduce the output of the phage tools because otherwise the heatmap was too large
* my idea was that " when i search for phages i need to know what is in my sample until a certain possibility"
* filter script --> Output: hit and possible hit (in the table)

* some filter scripts meet the requirements in the table

[2019-11-05 13:03] hoelzer commented on #16
WIP

FOO=/hps/nobackup2/singularity/mhoelzer/build
mkdir $FOO/.singularity
mkdir $FOO/.singularity/tmp
mkdir $FOO/.singularity/pull
mkdir $FOO/.singularity/scratch
export SINGULARITY_CACHEDIR=$FOO/.singularity
export SINGULARITY_TMPDIR=$FOO/.singularity/tmp
export SINGULARITY_LOCALCACHEDIR=$FOO/singularity/tmp
export SINGULARITY_PULLFOLDER=$FOO/.singularity/pull
export SINGULARITY_BINDPATH=$FOO/.s

[2019-11-05 13:15] replikation commented on #16
so TLDR: you set up your build space somewhere else and it was working?

you should add this as a comment to the singularity config :)
nice job

[2019-11-05 13:16] replikation commented on #16
so now you can take a look at the heatmap.. lol

[2019-11-05 13:17] replikation commented on #15
@hoelzer we were thinking about changing the heatmap as a 2 color coded showing "certain" and "uncertain" hits

€ So the informations are not completely lost

[2019-11-05 13:18] hoelzer commented on #16
It was a long and annoying journey ^^

But exactly, it seems to be the best way to setup some singularity env variables to a directory that has enough space and is writable/readable for all nodes of the cluster. I will try now if this also solves the MARVEL #17 issue and if so I will add the LSF config to the master branch.

[2019-11-05 13:30] replikation commented on #16
perfect. but now nz has full singularity expertise :)

[2019-11-05 13:36] hoelzer commented on #15
@Stormrider935 cool thanks for the summary! Looks reasonable to me. And I think telling the user that he might not see a subset of the full output of all tools is important.

Changing the heat map to show "certain"/"uncertain" hits also sounds reasonable.

However, by thinking about the visualization of the results I remembered a cool plot I saw yesterday during a data visualization talk here at E

[2019-11-05 14:01] replikation commented on #15
the figure is nice, but how and what data should be included for this? i mean what should the barplot represent?

[2019-11-05 14:03] replikation commented on #15
but yeah we could plot p values and such.

[2019-11-05 14:35] hoelzer commented on #16
__Following up to this issue:__
To get working Singularity images on an LSF cluster (or at least the EBI one) it seems to be sufficient to connect to a node with enough RAM (not only 2GB) and set

[code]

to some folder that is read/writeable.

Then execute

[code]

produces a correct singularity image file.

I have now a small ruby script that gets a nextflow config file as input, extracts all co

[2019-11-05 14:36] hoelzer commented on #17
This is solved now like described in #16

[2019-11-05 14:36] #17 closed

[2019-11-05 14:56] hoelzer commented on #15
I thought that you can throw in a FASTA file and then you get phage predictions with different tools. Let's say

VirSorter: 20 phages
VirFinder: 12 phages
MARVEL: 30 phages

This are then the blue bars in the figure.

Then all overlapps (venn-diagram-style) are calculated, lets say:

VirSorter-VirFinder: 10
VirSorter-MARVEL: 18
VirFinder-MARVEL: 8
VirSorter-VirFinder-MARVEL: 6

And this could be t

[2019-11-05 15:02] hoelzer opened #18 "Add optional parameters for workdir, params.cloudDatabase, and cacheDir"
Currently, the LSF configuration looks like this:

[code]

So fixed to my environment at the EBI LSF. Do you agree that it would be good to have input parameters for

* cloudDatabase //here are the databases stored, default could be ./nextflow-autodownload-databases
* workDir //here are the work files written, this can be a lot of stuff and I have to define a specific place for this on the cluster

[2019-11-05 15:29] replikation commented on #16
@hoelzer

this sounds a bit like you should ask someone to increase that space :)

Additionally, Nextflow allows you to setup a "tmp" dir to another place. Did you try this? please try this, as you can add this the singularity config file - or similar how we handle the bucket dir for cloud profiles

[more details here](https://www.nextflow.io/docs/edge/config.html?highlight=tmp#environment-variabl

[2019-11-05 15:35] replikation commented on #15
ah okay now i get it :)  yeah with this plot it will be badass.

[2019-11-05 15:44] replikation commented on #18
yeah makes sense. maybe we can adjust the whole config to the nanozoo style of config abstraction? would make the whole config structure clean? so dockers are separated configs/

[2019-11-05 15:45] replikation commented on #18
please also add all issues to the phage project page :)

[2019-11-05 15:46] hoelzer commented on #18
yeah, sounds reasonable. I already implemented the additional parameters in an extra branch 'lsf'.

I can also do the nz style configuration now and then merge.

@project page... ah sorry, forgot. jip.

[2019-11-05 15:48] replikation commented on #18
perfect would be great if you add the nz style

[2019-11-05 15:55] hoelzer commented on #18
Done, its working for me at the EBI cluster with additional input parameters to adjust paths that are needed to be defined user specific on the cluster structure.

@replikation @Stormrider935 can you please do a

[code]

and confirm that also the local version is still working? I currently have some weird 'no space left on device' issues on my mac here (although 200GB are free).

If this works for

[2019-11-05 16:07] hoelzer commented on #16
@replikation how do I add this to the configuration file? simply

[code]

?

[2019-11-05 16:08] hoelzer commented on #16
ah, or maybe I already did this by

[code]

[2019-11-05 16:12] hoelzer commented on #15
yeap, totally badass :D it's a super nice visualization alternative to venn diagrams (that one should anyway not use with more than 3 sets)

[2019-11-05 16:14] hoelzer commented on #15
I think one open question might be how to define if two tools find the same phage. But maybe it's simple enough to check

tool A found contig X to be a phage
tool B found contig X to be a phage

ok, both tools found a phage

[2019-11-05 16:23] hoelzer commented on #16
@replikation ok with the lsf.config file I added now that holds:

[code]

I can execute the nextflow and let it pull and translate the images from DockerHub to Singularity. This is working now.

It seems that the only problem was that no

[code]

was properly set (I dunno how the sysadmins here configured this).

[2019-11-05 16:43] hoelzer commented on #16
Another problem seems to be: when nextflow tries to pull multiple images and translates them into singularity images and somehow breaks, not only the image is fucked up that caused the break but possibly also some others that are incomplete then. Annoying to figure out which ones are corrupted then.

Anyway, adding ``CacheDir=`` to the config file seems to help, although I now had to build the ima

[2019-11-05 16:57] replikation commented on #15
when i have time ill try to implement something, and then we can take a look :)

[2019-11-05 17:11] replikation commented on #18
* lsf works fine locally on the hospital workstation can be merged :+1:

[2019-11-05 17:15] hoelzer commented on #18
great, will do the merge and close this now.

[2019-11-05 17:15] #18 closed

[2019-11-05 17:27] hoelzer commented on #15
yeah exactly what I thought. Unfortunately, I think in this visual the contig name can not be included...  it would be then more like a general overview which tools find the most (common) phages

[2019-11-05 17:36] hoelzer opened #20 "Nanopore data: MARVEL can not handle sequences longer than 65535 Unicode code units"
Nothing important for now, but I was curious and just threw some Nanopore reads into the workflow, MARVEL reported:

[code]

So it seems a length filter needs to be applied for MARVEL when used with long sequences. Are actually all input test data sets smaller than this size? I mean, it is totally possible that someone just starts the workflow with a FASTA file containing longer sequences.

[2019-11-05 17:47] replikation commented on #20
i think its the `.splitFasta()`  ?? that would be annoying

[2019-11-05 17:49] replikation commented on #20
i think a samtools module in front of it should fix this easily.

[2019-11-05 17:51] replikation commented on #20
we might need to change the test data set a bit so we can more easily test things in the future. @Stormrider935 maybe we should add like 3 good test datasets. 1 lot of small contigs. 1 with a medium amount of middle/normal sizes and one were basically a few genomes are in there.

Because people will drop everything in this tool 🗡

[2019-11-05 17:54] replikation commented on #20
@hoelzer does string to long mean to many contigs or a contig is to long?

[2019-11-05 18:05] replikation opened #21 "dummy test"
dummy test

[2019-11-05 18:06] replikation opened #22 "dummy test2"
dummy test2

[2019-11-05 18:42] #21 closed

[2019-11-05 18:42] #22 closed

[2019-11-06 10:44] hoelzer commented on #20
@replikation good question, my first impression was that contigs (or in that case reads) are simply too long. But could be also possible that there are too many contigs/reads.

My input FASTA has ~800MB.

Anyway, without MARVEL the other tools finished:

[code]

And just the r_plot did not work. But maybe because the MARVEL output is missing?

[code]

I just had a rough look at the VirSorter outpu

[2019-11-06 10:46] hoelzer commented on #20
@r_plot error: nope, the problem is not that the MARVEL output is missing, tested it.

[2019-11-06 10:59] hoelzer opened #23 "Metaphinder Filter is not correctly working"
I think I found out why Metaphinder has such good results in your test data sets ;)

The filtering simply selects all contigs.

Your command in ``modules/filter_metaphinder.nf``:

[code]

needs to be changed to

[code]

or why not looking for

[code]

?

I found this because of my Nanopore test run where VirSorter found 220 phages and Metaphinder reported 365,686 -- basically all of my input reads

[2019-11-06 12:10] replikation commented on #20
yes its the missing marvel output.
it would be good to know if its contig size or amount. because the amount would not be an issue, because raw reads will get a separate file "entry" (--fastq) and a samtool and fastq to fasta conversion. but if its the size ill need to adjust MARVEL accordingly

[2019-11-06 12:16] replikation commented on #23
is this fix of yours working? if so you can push it to master.
thx for the report

[2019-11-06 12:37] #23 closed

[2019-11-06 12:43] hoelzer commented on #23
yeah, I also made the awk a little bit simpler:

[code]

it is now. seems to work for me. pushed and closed

[2019-11-06 12:44] replikation commented on #23
thank you very much

[2019-11-06 12:45] hoelzer commented on #20
@missing marvel output, ahh ok because your R script is not dynamic in the sense of input files? ok.

@contig size or amount: yeah, we have to investigate this. Can't say at the moment without further testing.

[2019-11-06 13:18] replikation commented on #20
@missing: I tried it as a groupTuple() to avoid an explicit input channel (my scripts don't care for instance - the files only have to be present). but somehow I got strange errors with nextflow. So it's more a channel handling issue :D

[2019-11-07 16:34] replikation opened #24 "fastq support"
ont assembly / read support via --ont flag

[2019-11-07 17:19] replikation commented on #24
implemented in a99a759

[2019-11-07 17:19] #24 closed

[2019-11-07 17:20] replikation commented on #20
* if its based on "amount of input" it should be fixed in a99a759 with the `--fastq` input.

* reopen if this error happens again

[2019-11-08 15:39] hoelzer opened #25 "Test fastq option w/ long reads throws Error in library(ggplot2) : there is no package called ‘ggplot2’"
I tested the wf again with some nanopore long reads using the new ``--fastq`` input option:

[code]

Seems to work very well until the final step:

[code]

that errors with:

[code]

[2019-11-08 15:54] replikation commented on #25
this sounds like a singularity issue? because ggplot is inside the docker. or i have not updated your config. ill check that. But yay it run through till the plotting :D

[2019-11-08 16:01] replikation commented on #25
@hoelzer yeah its the same ggplot container. @Stormrider935 can you reproduce the error?

[2019-11-08 16:54] Stormrider935 commented on #25
* This is what i got:

`nextflow run replikation/What_the_Phage --fastq 'What_the_Phage/test-data/*.fastq*' --cores 20 --workdir /home/mike/install_software/`

* Error-msg

  Process `r_plot_reads (1)` terminated with an error exit status (127)

[f2/10ab41] process > read_validation_wf:removeSmallReads (1)   [100%] 1 of 1 ✔
[48/9e882e] process > read_validation_wf:fastqTofasta (1)       [100%] 1 o

[2019-11-08 17:45] replikation commented on #25
so you can not reproduce the error.... -.-
this looks abit like it was using the wrong docker somehow?

[2019-11-08 17:46] replikation commented on #25
ah i found the error.

[2019-11-08 17:55] replikation commented on #25
@hoelzer @Stormrider935 should be fixed in a99a759

[2019-11-08 17:56] replikation commented on #25
please close if working, thanks

[2019-11-08 18:09] #25 closed

[2019-11-14 13:43] hoelzer opened #27 "Some evaluation testing"
As I have to prepare some virus test data sets anyway I just run 4 assemblies through WtP. Honestly, I do not exactly know what to expect as an outcome from the files (I have to clarify with some guy that was working on a virus pipeline here before and used them).

 ### The assemblies are:

* High_confidence_putative_viral_contigs.fna
* Low_confidence_putative_viral_contigs.fna
* tara_virus.fa
* p

[2019-11-14 14:01] replikation commented on #27
even though the heatmap is quite "full/unreadable" I like the overview already :)
and yeah it run through. getting more stable now!

somehow virfinder looks broken, but @Stormrider935 is checking out all the values over the next days.

[2019-11-14 14:05] replikation commented on #27
thanks for the test runs 👍

[2019-11-14 14:12] hoelzer commented on #20
I just tried this input file:

https://github.com/hoelzer/CWL_viral_pipeline/tree/master/CWL/Files_for_test

and run again into this error:

[code]
There are indeed some long contigs:

[code]
As a test, I removed all sequences larger 100k nt: still the error.

Then I removed all larger 50k nt. Still.

Then I removed a bunch of short (< ~1.2k) sequences and then it was running.

Next, I used the or

[2019-11-14 14:34] replikation commented on #20
i identified the error, and what it is talking about:

`grep ">" ERR575691_host_filtered.fasta | wc -c` gives me 89773.

So its talking about the total size of all contig headers. it has nothing to do with the amount (only indirectly - more read names more characters) or the sequences.

[2019-11-14 14:36] replikation commented on #20
It is not a Marvel Error btw. its an error from the `.splitFasta` statement. the solution would be to do a process instead of the filter.

[2019-11-14 14:39] replikation commented on #20
the workaround would be to break your file into 2 parts and then put it into the workflow. until I rewrite that part. If the splitting the file into 2 part works - tell me because then its most definitely this issue.

[2019-11-14 14:42] replikation commented on #20
it is because marvel wants each contig as a separate file, to work like a tool to analyze "bins" (a folder with lots of fasta files). so we create out of a fasta or fastq files one file per contig/read and simulate a bin dir. then we now the information per contig. instead of a "fasta contains phage"

[2019-11-14 14:51] hoelzer commented on #27
Thanks for the nice pipeline ;) And yes, I also like the output! Already quite impressive how many contigs the other tools detect in comparison to VirSorter. However, still questionable how many of these are FP ;)

[2019-11-14 14:52] hoelzer commented on #20
Oh snap. Ok, I see. I will test splitting the file into two chunks and report.

[2019-11-14 14:53] replikation commented on #27
in the end every tool claimed to be better than the other... :D

[2019-11-14 17:02] hoelzer commented on #20
@replikation ok this is a bit odd and I am nut sure what is going on

I split the file into smaller chunks of 500 sequences, actually with this nice awk command:

[code]

Please find here one of the chunked fasta files:
[myseq1500.fa.zip](https://github.com/replikation/What_the_Phage/files/3847687/myseq1500.fa.zip)

that gives me know this error:

[code]

[2019-11-14 17:19] hoelzer commented on #20
btw same issue on my local machine (macbook)

[2019-11-14 21:23] Stormrider935 commented on #27
I will check all the filterscripts and outputs on saturday
👌🏻

[2019-11-15 10:49] hoelzer commented on #15
I added some example code for UpSetR here:

https://github.com/hoelzer/visual

maybe helpful if you want to add this to WtP at some point.

[2019-11-15 13:12] hoelzer commented on #1
I added VirMine to the list, just read the paper and sounds interesting

[2019-11-16 11:22] Stormrider935 opened #28 "`fasta_validation_wf` declares 0 input channels but 1 were specified"
* I wanted to run the workflow  `nextflow run replikation/What_the_Phage` and `nextflow run phage.nf` so i could try to implement samtools and grab positive ctgs but instead i got this error:

Nextflow-version: 19.07.0
Starting time: 27-07-2019 13:22 UTC
Workdir location:
  /tmp/nextflow-phages-mike

Output dir name: results

##### commands
* `nextflow run What_the_Phage/phage.nf --fasta What_the_

[2019-11-16 11:28] replikation commented on #28
@Stormrider935 cant reproduce

[2019-11-16 11:31] replikation commented on #28
[d0/e2c14d] process > fasta_validation_wf:input_suffix_check (1) [100%] 1 of 1 ✔

[2019-11-16 11:39] Stormrider935 commented on #28
mike@mike-Yoga-13:~/bioinformatics/What_the_Phage$ `nextflow run replikation/What_the_Phage --fasta 'test-data/T7_draft.fa' --cores 1`

Launching `replikation/What_the_Phage` [berserk_blackwell] - revision: c9e6f906df [master]
WARN: DSL 2 IS AN EXPERIMENTAL FEATURE UNDER DEVELOPMENT -- SYNTAX MAY CHANGE IN FUTURE RELEASE

Output dir name: results

* after this I used `nextflow pull replikation/Wha

[2019-11-16 11:43] replikation commented on #28
master branch?

[2019-11-16 11:44] replikation commented on #28
N E X T F L O W ~ version 19.07.0

[2019-11-16 11:44] replikation commented on #28
please upgrade to 19.10 as specified in the readme

[2019-11-16 11:44] #28 closed

[2019-11-16 22:44] hoelzer commented on #15
I fixed the docker for upsetr, its working now and implemented in branch upsetr. Please feel free to test @replikation @Stormrider935 and if satisfied, feel free to merge the branch ;)

At the moment the implementation is 'basic', so if new tools are added also the upset.R script needs to be updated. That could be enhanced with some R coding.

The upset plot shows the same content a venn diagram w

[2019-11-17 10:16] replikation commented on #15
nice ill check that out

[2019-11-17 14:42] replikation commented on #15
closing this, see #27 for performance

[2019-11-17 14:42] #15 closed

[2019-11-18 10:47] hoelzer opened #30 "upsetr fails if a txt file is empty"
I just observed that the R code fails if an input file is empty.

Example:

[code]

The output of virsorter is empty. Thus, upsetr code fails with

[code]

[2019-11-18 12:43] replikation commented on #30
mh okay, in the R heatmap plot I merge all the outputs into one table-file, containing all the data, so I shouldn't have this issue if files are missing (there is always a header present of the input file). Would this be possible for upsetr? Otherwise, you probably would need to create at least an empty header file to feed an "empty table" into the R script if no file is present?

i mean we can se

[2019-11-18 13:01] hoelzer commented on #30
Yeah I think it should be easily fixable with some R code. You are right, maybe adding some header to the *.txt files could already solve the problem.  Maybe

[code]

already solves the issue.

[2019-11-18 16:28] hoelzer opened #31 "deepvirfinder terminated with an error exit status (130)"
srry guys,

I just tried some larger input files (30k - 160k contigs, 8 FASTA) also to see how the #29 Upsetr output looks like. I run this at the cluster, so I am not entirely sure if it is a cluster issue or also occurs locally. Calculations are running locally at the moment but takes time.

[code]

[2019-11-18 16:40] hoelzer commented on #31
Here the error when I restart the workflow, 3 deepvirfinder runs finished sucessfully but then it breaks:

[code]

[2019-11-18 17:42] replikation commented on #31
file lock, that has i think nothing to do with deepvirfinder. it can't access because another process with the same ID is active. at least this is how i understood that part, i could be wrong.

[code]

can you delete this and restart the process? I had such an issue once, mainly because I was starting and stopping to fast and not waiting for the completion of runs ( due to bug fixing)

[2019-11-18 18:13] hoelzer commented on #31
I will try! And I think you are right because it was running fine on my
local machine (at least until I had to stop it because of moving the
Laptop)

Christian Brandt <notifications@github.com> schrieb am Mo., 18. Nov. 2019,
17:42:

[2019-11-18 23:26] hoelzer commented on #31
I deleted

[code]

but the same error occurs. So seems to me like a configuration problem of the HPC.

I run the workflow without deepvirfinder and the same input files and it finishes. I don't know what this .theano folder is and why deepvirfinder writes files there. Need some google. It seems theano is a python package used by deepvirfinder.

And there are already reported cluster issues:
https:

[2019-11-18 23:31] hoelzer commented on #20
I think this is related to the way marvel module is implemented. For larger files (~10k sequences) I get (on LSF cluster and local machine) errors like:

[code]

[2019-11-18 23:32] hoelzer commented on #31
(update it does not really finish because of marvel error see #20 )

[2019-11-18 23:44] hoelzer commented on #31
Ok, adding this on the HPC

~/.theanorc:
[code]

solved the issue with deepvirfinder in some cases but not completely. (I use /scratch instead of /tmp because this is recommended for the cluster here)

I had to start the workflow multiple times with -resume flag to get some additional deepvirfinder processes done. Maybe a real fix could involve adding some delay between each deepvirfinder process.

[2019-11-19 00:02] hoelzer commented on #31
Ok, I also don't think that this will be solved by executing only single deepvirfinder processes. I tried now a single file always and had the same problems.

I also tried

[code]

according to: https://github.com/pymc-devs/pymc3/issues/1463

and also

[code]

both did not help.

But maybe this file needs to be added to the docker container? I am not sure

Smaller files seem to work always because

[2019-11-21 11:51] Stormrider935 commented on #14
#### Virsorter version tag

* I think I found the problem why `virsorter/latest` is working and `virsorter:0.1` not
* the RUN commands are the same but vary in size:

###### `virsorter:latest`
 * `/bin/sh -c conda install -c bioconda mcl=14.137 muscle blast perl-bioperl perl-file-which     hmmer=3.1b2 perl-parallel-forkmanager perl-list-moreutils diamond=0.9.14 && conda clean -a`
* size: 221.9 MB

[2019-11-23 06:07] replikation commented on #14
yeah you need to find out what happend, e.g. try out install versions. E.g some programs have specific versions: mcl=14.137; or rebuild out a new container image from scratch. in any case, make sure not to push until you know it works (because latest is the only working one, maybe its possible to tag the latest to 0.1 and push it?)

[2019-11-23 18:44] replikation opened #34 "Get phage positive reads"
# enhancement
* WtP should extract the "phage" positive hits from the fastq files and give it to the user as a  result output
* similar to samtools and contigs
* this would make downstream analysis much more useful after the classifications

[2019-11-25 17:26] replikation opened #35 "Validate prediction results via nucleotide shuffling"
# random nucleotide shuffling for error-prone ont reads to improve/validate read hit
* @hoelzer can you add some code and/or github ref for the nucleotide shuffling?
* it should be added to the barplots in a meaningful way

[2019-11-27 12:23] Stormrider935 commented on #14
We will use the docker container from the **virsorter-developer** from now on

`quay.io/biocontainers/virsorter:1.0.6--pl526h516909a_1`

I will push and merge the working workflow

[2019-11-27 12:23] #14 closed

[2019-11-28 13:05] Stormrider935 commented on #34
# additional enhancement
* i think the option to run WTP with only one phage tool or two or three would be a nice addition
* eg.:  `nextflow run replikation/What_the_Phage --fasta /foo/bar --tools_to_include virfinder virsorter`

* this would give the user more freedom if they just want to check one tool

[2019-11-28 13:16] hoelzer commented on #34
@Stormrider935 actually I agree, that is a good idea. The single tools are already a pain-in-the-ass to execute them and WtP would wrap also the single execution. Such functionality would be quite neat. And should be relatively simple to integrate, right?

[2019-11-28 13:40] hoelzer commented on #1
@replikation @Stormrider935 I just found VIBRANT and added it to the tool list. sounds very promising from what I screened from the preprint:

https://www.biorxiv.org/content/10.1101/855387v1

[2019-11-28 14:45] Stormrider935 commented on #34
* this should be also easier for us eg. testing of large fasta-files ... if one tool is messing around we can check if it is just the one tool or if the others are working properly

[2019-11-29 10:19] replikation commented on #34
@Stormrider935 the other way around is what we should go for: tools to exclude

[2019-11-29 10:20] replikation commented on #1
alright :)

[2019-11-29 10:20] replikation commented on #35
@hoelzer can you add your example code for this?

[2019-12-02 15:43] hoelzer commented on #35
What I did this night ago was something really simple with a small ruby script:

[code]

So this does just randomly shuffle every single read. My idea was simple: if a tool predicts as many viruses from a completely shuffled read set than for an unshuffled set, this means nothing. Maybe this can be also done in a more convenient way with some ready-to-use script/tool.

[2019-12-02 15:46] hoelzer commented on #35
One could also shuffle by preserving the dinucleotide distribution:
https://www.biostars.org/p/134467/
using this script for example:
https://github.com/wassermanlab/BiasAway/blob/master/altschulEriksonDinuclShuffle.py

or using uShuffle
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2375906/

But maybe just implementing my ruby code into a module and then we can play around with this and see if it

[2019-12-03 13:20] Stormrider935 commented on #27
- [x] Virfinder has been fixed

[2019-12-04 02:42] replikation commented on #34
reasigned to me, will implemented this

[2019-12-04 02:44] replikation commented on #34
reassigned to me, will implement this

[2019-12-04 02:46] hoelzer commented on #35
@replikation @Stormrider935 I adjusted the above ruby code a little bit so that it should be copy-pastable as ruby code into a module

[2019-12-10 19:53] #27 closed

[2019-12-10 20:14] #34 closed

[2019-12-10 20:20] Stormrider935 opened #38 "Deactivate Tool(s) via --Option-flag"
* eg.: `nextflow run replikation/What_the_Phage --fasta /foo/bar --tools_to_exclude virfinder virsorter`

[2019-12-11 09:44] Stormrider935 opened #39 "Metaphinder validation testing"
* I put together 2 data-sets  for validation testing :

1.  10 files (pos_phage_x.fa)

2.  10 files (neg_phage_x.fa)

structure of the files for validation testing:
`>pos.phage.0
GCTACCTGGTGCACCGTGCCGCCTTGCCAGCCCAATGAGTGCATGAGATGTAAAGGAGTATTTGTCATGGTATCGCCCTTTCTTTGATGTGCGCCCTGGTTG`

structure of the `What_the_Phage/test-data/*.fa`
`>ctg1 len=150545
GCTACCTGGTGCACCGTGCCGCCTTGCCAGCCCAATGAGTGCATGAGAT

[2019-12-11 10:34] replikation commented on #39
* can you remove the dots and just name the contig: > positive phage 0
* also put comman outputs into a code box (i edit it up there to show what i mean)

[2019-12-11 11:29] Stormrider935 commented on #39
* I changed the contig  to:  > positive phage 0
* did the same testing with the new fasta header as mentioned above (Nextflow and Docker) and got exactly the same Error messages

[2019-12-11 11:48] replikation commented on #39
* what happens when you replace the > positive phage fasta headers with "working headers" from another file ?
* if it still got the error we know its not the fasta header its something with the sequence

* i mean the error is somehow related to "get contig size"
[code]
* so are there spaces or other nucleaotides in place of ATGC?
* try and find out what the difference between the working and not w

[2019-12-11 12:21] Stormrider935 commented on #39
#### Solution
* Downloaded single fatsa Sequences from NCBI have a wordwrap after the last Base
* after deleting this wordwrap at the end metaphinder was running smooth

[2019-12-11 14:16] replikation commented on #9
@Stormrider935 status? this can be closed or? please ref the commits

[2019-12-11 14:16] #5 closed

[2019-12-11 14:17] replikation commented on #7
@Stormrider935 status? you created mock data for simple tests.

[2019-12-11 14:18] replikation commented on #3
stale, closing it

[2019-12-11 14:18] #3 closed

[2019-12-11 15:03] replikation commented on #39
yep sounds good. i think you could add this as a pipe to one of the other commands that modifiy the fasta headers and such

[2019-12-12 14:20] Stormrider935 commented on #39
testing with the code `grep -v -e '^$' file.fa` integrated in the input-check module
* I tested our `What_the_Phage/test-data/*.fa` files: works
* I tested a small fasta file freshly downloaded from ncbi: works
* I tested my pos_phage/neg_phage : doesn't work
I get the same error msg as in #20 :

[code]

[2019-12-12 16:17] replikation commented on #39
* @Stormrider935 can you please attach the problematic file
* you are also sure that there are no additional "symbol" issues?

[2019-12-12 16:25] replikation commented on #39
* the issue is the "negative" file
* the absence of any phages

[2019-12-12 19:44] replikation commented on #20
@hoelzer we identified the bug, it was just an issue with 100 % negative files we fixed this.
WtP now runs completely with files who dont have any phages.

[2019-12-12 19:45] #20 closed

[2019-12-12 19:45] #39 closed

[2019-12-12 22:08] #9 closed

[2019-12-12 22:09] replikation opened #40 "sourmash with kmer based json DB"
# sourmash / kmer approach implementation
* not sure about the quality but I want to test this

## database
* we need to pre-build a phage DB @stormrider can you link collect DBs for this and report it here?

## implementation
* depending on the size we could do either pre-prepare a DB our compute it live while WtP is running to be always most recent (via efetch)

[2019-12-12 22:11] replikation commented on #40
see also #6

[2019-12-12 22:18] replikation commented on #31
* @hoelzer so what do you think might be the best solution here? if i understand correctly its a "deepvirfinder issue" or?
* i could do a fasta split into chunks to avoid overloading deepvirfinder
* or a maxFork:1 could do the trick? so we dont ahve any parallelisation in deepvirfinder?

[2019-12-13 06:48] phiweger commented on #40
I can take care of this. Question is: Would you like to (1) just "sourmash search" through the database (I'll use the sequence Bloom tree for faster search) OR (2) use "sourmash gather" @replikation @Stormrider935 -- the difference is that (1) returns independent pairwise similarities for all genomes in the database, while the latter will "remove" those kmers from the query contigs, that have been

[2019-12-13 06:49] phiweger commented on #40
Also: is there already a list of accessions from #6 ?

[2019-12-13 08:08] replikation commented on #40
* @phiweger thank you very much
* @phiweger good question, I don't have experience on kmer results for "just" phages. So I am unsure if a "winner takes all" approach fits phages, at least for the prediction part (if a contig contains a phage)
* in any case, the goal is to add this approach as "another" tool to the existing 6 phage prediction tools, maybe via search - as we can control and build in

[2019-12-13 09:01] hoelzer commented on #31
@replikation I will look into this again. We also had some singularity update here on the cluster and thus I will simply test the current status of WtP again. I also cleaned up the LSF config file now and will push this to master directly.

[2019-12-13 09:06] replikation commented on #31
* alright, if you have the same issue please add the `maxForks 1` to the [deepvirfinder process](https://github.com/replikation/What_the_Phage/blob/master/modules/deepvirfinder.nf)
* if it's still causing the same issues we might need to try something else

[2019-12-13 11:59] Stormrider935 commented on #40
* I found the "database" (Its a multi-fasta-file) in this [paper](https://microbiomejournal.biomedcentral.com/articles/10.1186/s40168-019-0657-y)

Here the downloadlink for the phage-genomes they used:
[Phage_genomes](http://147.8.185.62/VirMiner/downloads/phage_genome/)

* they have a Pro-Phage-genome-Database (ALCAME-database) 759 complete genomes
and a phage-genome-Database (acquired from NCBI

[2019-12-13 12:55] hoelzer commented on #40
@Stormrider935 if there are any issues or we have questions about how they generated the 'databases', I have some connection to the last author (Gianni, HKI Jena) so could also ask him

[2019-12-13 12:58] hoelzer commented on #1
added VirMiner (now there is a tool called VirMine and another called VirMiner - nice -.-)

[2019-12-13 13:03] Stormrider935 commented on #40
i backtracked the paper where they got the Idea from.
Thank you @hoelzer for the offer ;)

[2019-12-13 13:39] hoelzer commented on #30
the upsetr module should work now with

* any amount of input txt files
* also empty result files

The current output:
<img width="768" alt="Screenshot 2019-12-13 13 37 41" src="https://user-images.githubusercontent.com/14393703/70804211-cd5a0d00-1dad-11ea-9e19-658b20b0427a.png">

There is only one issue left: numbers are cut off in the left part of the figure. It's a minor thing that I would leav

[2019-12-13 13:39] #30 closed

[2019-12-13 13:41] hoelzer commented on #30
@replikation ahh I only just remember that in the previous version we removed all sets with 0 overlaps. I can do this, makes more sense

[2019-12-13 13:42] replikation commented on #30
yes please :)

[2019-12-13 14:08] hoelzer opened #42 "upsetr enhancements"
The current output of the upsetr module looks like this:

<img width="767" alt="Screenshot 2019-12-13 14 08 04" src="https://user-images.githubusercontent.com/14393703/70805914-009e9b00-1db2-11ea-9a1b-847c00b06319.png">

__todo__:

* increase plot margin to not cut off the numbers
* plot also as high-quality PNG/PDF next to the SVG
* potentially add other [fancy upsetr features with metadata](http

[2019-12-13 22:52] phiweger commented on #40
so here is my proposed code for searching phages w/ sourmash -- somebody please put this into some nextflow process :)

k=21 is more sensitive than the default 31, but we expect more distance btw/ phage genomes, so less is better.

scaled=100 means one out of 100 kmers is sampled; for the average 100k nt genome size for phages this makes for a signature size of (reasonable) 1k kmers per genome.

t

[2019-12-14 08:41] replikation commented on #40
* cool thanks for the work, but I don't get the linearisation part of the fasta to one-liner
* is sourmash not able to cope with multiline fastas?

[2019-12-14 08:47] replikation commented on #40
* my proposal would be now to add a dedicated database module which creates the DB via sourmash
* in this way we could also add more data to the module/DB, e.g. via efetch from NCBI
* also makes sense due to the way how nextflow handles things for parallelisation (e.g. use DB once and give it each sourmash process)

+ we add two sourmash modules into WtP, one for identification (like the other cur

[2019-12-14 08:49] replikation commented on #31
* unassigned @Stormrider935 and myself as we cannot replicate the issue and can only help you to fix it

[2019-12-14 08:50] replikation commented on #6
* closing this as we are now developing this via #40

[2019-12-14 08:50] #6 closed

[2019-12-15 11:59] phiweger commented on #40
@replikation the multiline2singleline awk magic is just so I can create a quick test file. it is not required for sourmash, but I just used it to generate a full example.

[2019-12-18 14:29] replikation commented on #7
from @phiweger about benchmarking:
[LINK](https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1006494)

[2019-12-18 14:48] hoelzer commented on #31
I tried ``maxForks 1`` and also ``scratch '/scratch'`` to use the local nodes disk space. But still deepvirfinder crashes

[code]

I am currently trying to get it run on another cluster with updated singularity here.

[2019-12-18 14:56] replikation commented on #31
@hoelzer
* ill push today an update were you can deactivate tools via option flag
* maybe its easier for you to just deactivate deepvirfinder
* iam currently running a few test files to validate the commit before pushing it

[2019-12-18 14:59] hoelzer commented on #31
@replikation yeah that would be great, than I can simply skip this hpc-unfriendly tool

[2019-12-18 15:15] replikation commented on #40
* included in 6f8266a

[2019-12-18 15:15] #40 closed

[2019-12-18 15:15] replikation commented on #38
* included in 6f8266a

[2019-12-18 15:15] #38 closed

[2019-12-18 15:16] replikation commented on #31
* workaround in 6f8266a
* try the `--dv` flag to deactivate deepvirfinder

[2019-12-18 15:19] replikation commented on #38
* works also on read data sets

[2019-12-19 10:31] Stormrider935 opened #43 "Missing output file(s) `.sbt.phages` expected by process `sourmash_database:sourmash_download_DB`"
* I wanted to run one of our `test-data/files` before starting with the integration of VIRBRANT
* my command `nextflow run /home/mike/bioinformatics/What_the_Phage/phages.nf --fasta What_the_Phage/test-data/OX2_draft.fa`

* got this error:
[code]
* the .sbt. file is missing in the folder ` /tmp/nextflow-phages-mike/0e/5af05f70bd3177b06e6a4ff2d99383` (contains only  `phage_references.fa  phages.sig

[2019-12-19 10:47] replikation commented on #43
cant reproduce this error, the folder is present in my case

[code]

[2019-12-19 10:48] replikation commented on #43
* please `ls -la` in this process: `[ba/88bff4] process > sourmash_database:sourmash_download_DB `

[2019-12-19 11:37] Stormrider935 commented on #43
* I wiped the pre downloaded dbs and startet the process again

* this is how the process folder looks like:

[code]

* the wildcard (*) after the phage_references.fa is missing  and the file size is smaller than yours (88)
[code]

[2019-12-19 11:39] replikation commented on #43
* this is the size of the link, and not the file
* so still same error @hoelzer are you also getting that error?

[2019-12-19 12:01] hoelzer commented on #43
@replikation just tested the same command @Stormrider935 used on my linux laptop: same error occurs.

[2019-12-19 12:17] replikation commented on #43
okay thx i think i have a solution.  let me validate this

[2019-12-19 16:21] #43 closed

[2019-12-30 14:15] hoelzer opened #44 "Metaphinder own blast db: BLAST db error"
Hey, I hope you had some nice relaxed holidays and way too much food over xmas! :D

I tried to run the current master branch (on my laptop, linux, default profile) but get some blast db error from the metaphinder_own_db module:

[code]

I did not look into details, maybe it's something you can easily fix. Seems just like some bash syntax error in the if clause?

[2019-12-30 14:30] replikation commented on #44
works on my end :) This looks like a "could not find the DB". Are you using the most recent master?
otherwise, I recommend using `-r 0.2` for WtP. WtP is now using tested releases to ovoid the "hackiness" of using a master branch.

[2019-12-30 14:45] hoelzer commented on #44
@replikation ok thx, ``-r v0.2`` works

[2019-12-30 16:02] replikation commented on #44
works now

[2019-12-30 16:02] #44 closed

[2020-01-02 14:03] hoelzer opened #45 "Evaluation of large input files"
This issue is for documentation of the behavior of WtP for large input files. Based on this @replikation might implement FASTA chunking to increase speed of the pipeline.

### case 1, aquadiva sample

[code]
(execluded metaphinder because of an previous issue)

* 555 MB
* 1.152.661 contigs
* largest contigs:
  * 46863	NODE_1_length_46863_cov_23.219813
  * 40744	NODE_2_length_40744_cov_42.929662

[2020-01-08 10:08] hoelzer commented on #45
<img width="686" alt="Screenshot 2020-01-08 10 06 50" src="https://user-images.githubusercontent.com/14393703/71969463-9cc79080-31fe-11ea-890f-9265e34d63d5.png">

large input files (500MB-1GB) are working with virsorter and pprmeta. I will test the other tools.

However, the r_plot process takes much time and seems even not be able to terminate for some files. Besides, the visualization is not rea

[2020-01-09 09:30] hoelzer commented on #45
Update:
Virfinder finished after 18h for one of the large input files (~500 MB) fasta.

Now testing Marvel

[2020-01-09 09:49] hoelzer opened #46 "Splitting large input files into single FASTAs (Marvel, ...) produces many files"
I think the current procedure of splitting a multi-FASTA-file into single FASTA files only containing one contig can cause trouble for large input files (like done for Marvel).

[code]

Let's say you have an assembly with 500k contigs then you produce a single folder with 500k files.

I recommend, if possible, working with subfolders and only store 1k or so files into one folder.

[2020-01-09 12:35] replikation commented on #45
so you dropped all the 29 metagenomes wit > 1mio contigs each on it? :D
okay interesting... ill try out a few things and report back

[2020-01-09 14:12] hoelzer commented on #45
yeah... I thought the EBI cluster is huge so just go for it WtP! :D

At the moment I am just running one sample with the -resume option adding more and more tools (currently Marvel is running).

[2020-01-09 14:14] replikation commented on #45
marvel is super difficult to implement here. as its analysing "bins" by default. so i need to split each contig into a separate fasta file. and you have 1-2 mio contigs per file

[2020-01-09 14:19] hoelzer commented on #45
uff I see. Maybe skipping Marvel if too many contigs are provided? I mean, it's just due to how Marvel is implemented and not reallt an issue of WtP

[2020-01-09 14:23] replikation commented on #45
yep i was thinking about an "autoconfig" depending on the "assemblystats" of the input
e.g. to many contigs -> deactivate tool x and y -> contig to large -> deactivate deepvirfinder etc.

[2020-01-09 14:41] hoelzer commented on #45
I think that is a good idea and report back to the user what was deactivated and why.

[2020-01-13 08:50] hoelzer commented on #31
UPDATE:

deepvirfinder finished now even on a large input FASTA on the LSF cluster

[code]

What maybe helped was that I cleared the workdir before... I will close this for now because it seems to be a really specific problem with the cluster.

[2020-01-13 08:50] #31 closed

[2020-01-13 09:05] replikation commented on #31
* thanks for the info

[2020-01-16 13:42] replikation opened #47 "Automatic Tool selection based on input"
# Automatic Tool selection
## Solution for
#45 #46
## Idea
* some identification tools are bad for certain "assembly" stats (e.g. to many contigs; or to large contigs)
* we will implement a "assembly stats" process prior analysis with 3 identical output channels
* depending on assembly stats
ouput[0] -> always available; stable tools are using this
output[1] -> optional true; tools who cant handle

[2020-01-16 13:43] replikation commented on #46
closing this, we will tackle this via #47

[2020-01-16 13:43] #46 closed

[2020-01-16 13:44] replikation commented on #45
these issue information are for  #47

[2020-01-23 11:06] hoelzer opened #48 "-resume is not working anymore?"
Is it possible that ``-resume`` is not working anymore? Maybe because ot the rnd IDs you are producing?

[code]

does all the steps again for me (except stored data bases)

[2020-01-23 11:07] hoelzer commented on #48
Ok wait, it might have been some issue with my file system

[2020-01-23 11:22] hoelzer commented on #48
Ok srry, everything is cached except

[code]

I think because you split the FASTA?

[2020-01-23 11:32] replikation commented on #48
yeah might be true. random is resuming or? didnt had issues there. -resume is not perfect in some cases :/

[2020-01-23 13:19] replikation commented on #48
closing as this is nothing i can change :)

[2020-01-23 13:19] #48 closed

[2020-01-31 11:15] hoelzer opened #52 "VirFinder run in parallel"
VirFinder is one of the slow tools for large input data. However, there is a parallel version that might be interesting to implement:

virfinder repo:

https://github.com/rec3141/VirFinder/blob/master/linux/VirFinder/R/parVF.pred.R

[2020-02-01 16:19] hoelzer opened #53 "sourmash error for NCBI phage FASTA header"
Input:
https://www.rna.uni-jena.de/supplements/wtp/zheng_2019.fasta

Error:
[code]

I think the problem is parsing such crazy NCBI FASTA header?
[code]

You might consider renaming all FASTA ids to something useful in the beginning off WtP and then re-renaming at the end.

[2020-02-01 17:34] replikation commented on #53
@hoelzer
we remove problematic symbols here:
https://github.com/replikation/What_the_Phage/blob/master/modules/input_suffix_check.nf

the last lines are there to remove problematic symbols to just underscores.
you could add this and see if it works:
[code]

[2020-02-01 17:37] hoelzer commented on #53
@replikation thx, yes I already renamed my header too

contig1
contig2
...

as a fast fix.

Maybe you want to simply add replacement of ``|`` symbols in ``input_suffix_check.nf``?

But yes, the most _save_ way in my eyes is to rename all fasta and then rename them back.

[2020-02-02 10:44] replikation commented on #53
@Stormrider935 can you add this to your current branch?

[2020-02-03 10:03] Stormrider935 opened #54 "multiPhate v1.1.0 Phage annotation"
#### what is multiPhATE
[multiPhate](https://github.com/carolzhou/multiPhATE)
* fully automated computational pipeline for identifying and annotating phage genes in genome sequence
* controled by a configuration file, which can be tailored to run specific gene finders and to blast sequences against specific phage- and virus-centric data sets, in addition to more generic (genome, protein) data sets

[2020-02-03 10:10] replikation commented on #54
* what about this:
https://github.com/deprekate/PHANOTATE

[2020-02-03 11:30] hoelzer commented on #54
triggered by PHANOTATE: here some notes from a recent virus meeting in the US, people are using/want to use currently

Identification of viral contigs
    * VirSorter; Nontargeted Virus Discovery Pipeline; vFam
    * VirFinder; DeepVirFinder; VIBRANT

Annotation of viruses
    * VOGs (viral orthologous groups)
    * Phannotate

Taxonomy
    * Based on amino acid identity (vCONTACT)
    * Based on

[2020-02-03 12:08] Stormrider935 commented on #54
@replikation yup  installtion via github

[2020-02-05 10:20] replikation commented on #42
@hoelzer can you give me the code snipped to remove the numbers from the blue bars?

[2020-02-05 10:27] #53 closed

[2020-02-05 13:17] hoelzer commented on #42
@replikation I think you simply have to change

[code]

to

[code]

[2020-02-05 17:07] replikation commented on #42
* thanks was working fine

[2020-02-05 17:07] #42 closed

[2020-02-21 09:43] replikation opened #55 "deactivating all tools except one fails upsetr"
* upsetR wont plot if it has only one input file
* reproduce via:
   * `./phage.nf -profile git_action`
* WtP ignores this error but still creates the heatmap (so no big issue)

* Error message:
[code]
* thats all the error messages here

[2020-02-21 09:48] hoelzer commented on #55
What is the behavior we want to have here? An UpsetR plot with one file is anyway not that useful.

I can modify the R code to check if there is only one input file to do nothing. Or likely we can just use the nextflow ``when`` directive to check if there is only one file and if so do not execute the process?

[2020-02-21 09:53] replikation commented on #55
* we could ignore it of course as it is pointless on upsetR
* the current status is that the process fails but WtP ignores it and finishes successfully either way
* for documentation's sake its an issue but we can close it

[2020-02-21 10:22] #55 closed

[2020-02-24 14:11] hoelzer commented on #1
vConTACT could be interesting to run on final selected putative phage contigs
https://peerj.com/articles/3243/

[2020-03-01 19:55] mult1fractal opened #57 "Visualization of positive contigs and annotated ORFs"
* via chromomap
* docker and code available

[2020-03-06 08:42] mult1fractal opened #59 "Lenght Cut-off for input sequences"
*  @hoelzer : For example the Tara ocean virome paper uses a combinations of virsorter/virfinder and a length cutoff of 1.5kb. Personal communicatiom with matt sullivan: He would not trust any classified contig below 5k ;) and the lenght Filter will reduce run time of All Tools and yield a better heatmap/upset fig that is more reliable. Atm pprmeta and virfinder Report insane high numbers because

[2020-03-06 08:48] replikation commented on #59
* in the nextflow config add a `params.filter = '1500'`  so its 1500 by default and user can use
the `--filter` flag to increase or decrease this
* I suggest adding a separate process directly after the fasta input check process

[2020-03-06 09:33] mult1fractal commented on #59
* default filter 1.5 kb
* experienced users : turn off filter ---but it will result in an increased number of short hits  and false positve

[2020-03-26 12:28] mult1fractal commented on #57
* I'm basically done with the annotation of phage genes with chromomap..
* single input is working as intended with the command:
[code]
* but I run into a problem when I was testing this morning with the wildcard *:

[code]

* the problem starts with:

[code]

[code]

* so I'm losing a file somehow(POI_draft)

* I monitored the execution in the terminal an saw that hmmscan was still calculating bu

[2020-03-26 13:40] replikation commented on #57
looks like you did some channel handling wrong

[2020-03-26 13:42] replikation commented on #59
no dont use a "turn off" flag, just give the option to modify this, like suggested one comment above by me

[2020-03-26 13:45] replikation commented on #57
this is your issue:

[code]

this is a classic channel handling error. you need to join them into one channel for each sample. otherwise each output will appear depending on which process is done and finished first.

you need something like:

chromomap_parser(modified_input.join(modified_hmmscan_input_for_chromomap_parser).koin(prodigal.out) etc...

[2020-03-26 13:47] replikation commented on #57
* that is also why its working with just one sample. there is no issue as only one channel entry per channel arrives in chromomap

[2020-03-26 13:57] mult1fractal commented on #57
* cool cool cool

[2020-03-27 08:55] stefanches7 opened #61 "Singularity containers"
As clusters in the academia often ban docker as an obligation for people to get root rights, maybe it is possible to use the current workflow with Singularity? Maybe just convert the existing Docker steps to Singularity containers (e.g. with https://github.com/singularityhub/docker2singularity)?

[2020-03-27 09:31] replikation commented on #61
* yes we will implement this as a separate profile, should be quite easy to do via nextflow
* i added this issue to our ToDo
* thanks for the suggestion

[2020-03-27 09:54] hoelzer commented on #61
Thanks for the suggestion.

Actually, depending on the configuration of your HPC, you can already use WtP with singularity support. I was able to run the pipeline on an LSF system w/ singularity. Nextflow will handle the conversion of images from Dockerhub into Singularity images automatically.

Currently, we have only a profile for LSF that works with singularity and needs some additional paramet

[2020-03-27 13:59] stefanches7 commented on #61
Thanks! Seems like a good alternative.
We are using SLURM in the lab. When I try to run with the configuration you recommended, I get the following error:
[code]

Apparently some error with SLURM biding. Any idea what could it be?

[2020-03-27 15:28] hoelzer commented on #61
Looks for me that still ``lsf`` is used as a scheduler instead of ``slurm``. Please try

[code]

and change

[code]

to

[code]

and then add the new configuration to ``nextflow.config``:

[code]

and then try again with ``-profile slurm`` and adding ``--workdir``, ``--databases``, and ``--cachedir``.

[2020-03-27 15:41] hoelzer commented on #61
I also added this code to a ``slurm`` branch that you can access via

[code]

Unfortunately, I can not test this because I dont have access to a SLURM w/ Singularity atm. Thus, I would highly appreciate when you can report back if this is working.

[2020-03-30 08:45] #57 closed

[2020-03-31 09:35] mult1fractal opened #62 "Chromomap"
* one chromomap for coverage
* one chromomap for counts (orfs)

[2020-04-02 09:12] mult1fractal opened #63 "Build own virsorter docker"

[2020-04-06 09:53] stefanches7 commented on #61
Thank you @hoelzer !
The profile generally seems to work, however there are issues with namespaces. The banal `Bash` script of copying over the fasta file throws an error:

[code]

We have already allowed namespaces and I'm able to go past this error not using slurm executor. Do you have any idea what could be the problem for SLURM here?

[2020-04-06 10:41] stefanches7 opened #64 ".command.sh: No such file or directory"
## Expected behaviour
Input (all_contigs.fa) is formatted accordingly for later processes
##  Observed behaviour

[code]
## Environment
Nextflow 20.01.0 (WtP-intended), **standard** exec. profile, *empty* .command.out in the process work dir and .command.sh **is** in the work dir.

[2020-04-06 10:46] replikation commented on #64
hi, thanks for writing an issue
* can you please provide the full nextflow command that you used?

[2020-04-06 11:20] stefanches7 commented on #64
From `byobu` I launched
`./nextflow ../What_the_Phage/phage.nf --fasta /s/project/phagehost/data/all_contigs.fa --workdir /s/project/phagehost/workdir --databases /s/project/phagehost/dbs --cachedir /s/project/phagehost/c --mp`

[2020-04-06 11:31] replikation commented on #64
I assume its about the singularity execution?
* did you forgot the `-profile lsf` flag? or what config are you using?
* we don't have a `--databases` flag
* which branch are you using? master?

[2020-04-06 11:39] replikation commented on #64
.command.sh  is the "script" file that nextflow is generating to execute the process. This is located in your "workdir".

Might be related to [this](https://github.com/nextflow-io/nextflow/issues/73) ?

"The error happens when the run folder is not in /Users."

[2020-04-06 11:40] hoelzer commented on #64
@stefanches7 I think you are trying to execute WtP locally now (not in the cluster environment), right?

First of all, the parameters ``--cachedir`` and ``--databases`` are only used when executing the pipeline on HPC. You can pass them, but they will just not have any effect. For example, I used the current ``slurm`` branch with this command to somehow reproduce your execution:

[code]

Because I

[2020-04-06 11:40] stefanches7 commented on #61
Thank you, @hoelzer ! It seems to work with an on SLURM, however I get the following now:
[code]
Although I've seen "Convert SIF to Sandbox" messages before in the info output, it seems that Singularity still tries to run `.img` images directly. I use `./nextflow ../What_the_Phage/phage.nf --fasta /s/project/phagehost/data/all_contigs.fa --workdir /s/project/phagehost/workdir --databases /s/projec

[2020-04-06 11:45] hoelzer commented on #61
@stefanches7 okay, great and thanks for the feedback!

Can you run

[code]

without any problems? You should see an output like:
[code]

What singularity version is installed on your SLURM cluster?

[code]

[2020-04-09 09:09] stefanches7 commented on #61
@hoelzer thanks for tips of things to begin with. Right configuration (e.g. enabling `singularity` instead of `docker`) has solved the abovementioned problem.

However, there are some bad news to the original issue:
[code]
I am not yet sure what the cause is, however it is explainable by so-called "Concurrent pull" which is currently not supported by Singularity: https://github.com/sylabs/singular

[2020-04-09 09:15] stefanches7 commented on #64
@stefanches7 probably - might be that our `docker` is just a mock. Singularity works with the same command, so I'm closing the issue. Thanks!

[2020-04-09 09:15] #64 closed

[2020-04-09 10:00] hoelzer commented on #61
@stefanches7 Okay, we are getting there.

Are these variables set for you or are they empty?

[code]

In my experience, it might help to set these variables according to your HPC configuration to point to directories where you have write permission and enough disk space.

Maybe then just try the command out of the Nextflow environment and see if this works first:

[code]

This was working for me o

[2020-04-09 12:05] stefanches7 commented on #61
@hoelzer yeah, I've also specified Singularity environment variables, and standalone pull does work.
I might pull all the needed containers standalone, and then run the pipeline on the cached images. That's a temporary workaround of course.
If we think of a more lasting solution and assume that the problem is concurrent pull, I notice there are some `withLabels`  directives stating multiple `cpu`s

[2020-04-09 12:19] hoelzer commented on #61
Yeah, that might be a workaround for now. Pulling the images manually and then run the pipeline by pointing the ``--cachedir`` to the directory with the image files.

I don't think that the multiple ``CPU``s that are specified for certain processes are an issue. They just tell SLURM (or LSF, ...) how many ``CPU``s are requested when submitting the corresponding job. I am not entirely sure whether:

[2020-04-09 15:06] stefanches7 commented on #61
@hoelzer I think I would try the first way. Where can I find the locations of tools Docker containers?

[2020-04-09 15:13] hoelzer commented on #61
okay, here you can see all docker images the pipeline is using:
https://github.com/replikation/What_the_Phage/blob/master/configs/local.config

If you are able to generate and store singularity images from these docker images via ``singularity pull ...`` you should be fine.

[2020-04-09 19:35] replikation commented on #62
@mult1fractal
change categories as discussed

[2020-04-09 19:37] replikation commented on #52
* this R stuff .... iam closing this. if it gets a problem we do split fasta or so

[2020-04-09 19:37] #52 closed

[2020-04-09 19:43] hoelzer commented on #52
yeah good idea... actually in all my last tests virfinder was at the end not the slowest tool. So honestly: who cares.

[2020-04-10 18:58] replikation opened #67 "setup-profile"
* with the current amount of dockers and singularity images and databases we want to implement some kind of a "setup" or "dry run" workflow which downloads docker or singularity images first and then databases
* this decreases the initial huge download demand that causes issues (at least for singularity)

[2020-04-13 17:52] #61 closed

[2020-04-13 17:52] #63 closed

[2020-04-15 13:28] mult1fractal commented on #59
Reminder to myself:
* Testfile: T7_draft.fa
* command:
[code]
* so the length filter is working fine: `--filter 100000` filters everything under 100000 bp.
* tools: eg metaphinder is detecting in T7 draft ctg1 a phage positive signal
* but in The final results all plots are empty... and the pos_phage_file generated from samtools is also empty
* i checked the processfolder for metaphinder: file T7_

[2020-04-16 07:25] mult1fractal commented on #59
* to check whats wrong I switched the branch to master to see if I have the same issue here...
* I ran
[code]
* in the process folder for metaphinder_filter all files look as they should look like
* but somehow the Phage distribudion.pdf  is empty.... It shows the contigs and tools but there were no blue sqares....

[2020-04-16 08:04] mult1fractal commented on #59
Next Problem:
i'm testing with the T7_draft.fa
with this command:
[code]
metaphinder hits ctg 1,3,2,4 as positive with colour in the phage distribution.pdf (rplot)

with this command:
[code]
vifinder hit ctg1 and marks it blue but metaphinder hit ctg1
* here the problem is located in the Metafinder filter modul:
* metaphinder detect ctg1 as phage: 7_draft_3fc4de88dffa6b4aed37ed2119dc8f.list , but

[2020-05-01 11:03] mult1fractal commented on #1
new tool: [seeker](https://github.com/gussow/seeker)

[2020-05-05 14:10] replikation commented on #47
prio to low due to "error ignore" implementation if a tool is not "up to the task" it won't break the workflow

[2020-05-05 14:11] replikation commented on #59
implemented by @mult1fractal

[2020-05-05 14:11] #59 closed

[2020-05-05 14:12] replikation commented on #67
* implemented in 6ea9ce6

[2020-05-05 14:12] #67 closed

[2020-05-05 14:12] replikation commented on #62
* implemented in 6ea9ce6

[2020-05-05 14:12] #62 closed

[2020-05-05 14:37] mult1fractal opened #68 "Skip-Phage-Identification"
* People might just want to annotate the genes in the Sequence because they already know their Sequence is a Phage-sequence.
* flag to skip Identification tools (--annotate) and use input of user as input for annotation of genes in phage sequence

[2020-05-08 12:40] mult1fractal opened #70 "checkV-"
* [CheckV](https://bitbucket.org/berkeleylab/checkv/src/master/)

* fully automated command-line pipeline for assessing the quality of metagenome-assembled viral genomes, including identification of host contamination for integrated proviruses, estimating completeness for genome fragments, and identification of closed genomes.

* working commands:
[code]

* based on three commands above: generates

[2020-05-08 13:25] replikation opened #71 "sourmash to try to classify the positives"
* should be used to check if a identifies phage is already known

[2020-05-08 20:19] replikation commented on #70
`nanozoo/checkv:0.4.0--f3ed06e`

[2020-05-13 11:20] mult1fractal commented on #68
* adding clean skipping flags for skipping:
  * identification only
  * annotation only
  * tax only
* by default: execute whole workflow

[2020-05-13 12:35] replikation commented on #68
not sure about the tax currently. but the anno or identy only sounds good

[2020-05-16 08:46] replikation opened #72 "readme update"
improved readme update with result explanation, toc etc.

[2020-05-19 13:15] mult1fractal commented on #72
closed by #69

[2020-05-19 13:15] #72 closed

[2020-05-24 13:11] mult1fractal opened #73 "pro phage detection"
https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0223364

[2020-05-26 16:53] replikation commented on #68
* implemented

[2020-05-26 16:53] #68 closed

[2020-05-26 16:53] replikation commented on #70
* implemented

[2020-05-26 16:53] #70 closed

[2020-05-26 16:54] replikation commented on #73
see also #11

[2020-05-26 16:58] replikation commented on #1
@mult1fractal, seeker seems to be easily implemented, you could add that to the first post and open a low prio issue or?

[2020-05-27 13:18] sxh1136 opened #75 "Some other tools to include?"
I've been compling a list of phage tools for something I'm writing and came across this GitHub. This looks really exciting and I look forward to trying this out.

I think there might be some tools on my list that you haven't come across or at least haven't put down yet like Cenote-Taker2 or metaViralSPAdes?

Here's my list of phage tools for metagenomes and metaviromes:
https://github.com/sxh1136/

[2020-05-27 13:50] replikation commented on #75
* thank you very much, this is really helpful
* due to our modular coding approach we can easily add these tools to our workflow which is the point/goal of WtP either way :)

[2020-05-27 19:54] replikation commented on #1
* reference to #75

[2020-06-02 12:21] mult1fractal opened #76 "Force release candidat"
* users only use tested release candidates (less problems in executionand issues from users)
* --dev flag for execution of the master branch

[2020-06-02 12:30] replikation commented on #76
maybe -r master is also possible and we print a "warning" if a user uses a `-r master`

[2020-06-02 14:41] #71 closed

[2020-06-04 08:08] replikation opened #78 "improve taxonomy results"
example output:

[code]

A.) remove nodes without any assignment
B.) sometimes a name is missing (e.g. `NODE_6_length_63226_cov_7_495196,0.20, `)

[2020-06-05 08:47] #78 closed

[2020-07-09 10:21] mult1fractal opened #80 "Optimization of raw tool output filters"
### virnet
* score system > 0.5 = 1 = phage and < 0.5 = 0 = no phage ...
* filter for "score" value and not for 1 or 0

### metaphinder and metaphinder-own-DB
* correlation between "phage" keyword and % ani and hit of raw output?
* seems like 1 hit can result in 10 ~ 25 %ani and this results in a predicted phage sequence
* set filter to > 75 %ani && at least 10 hits for less false positive matches

[2020-07-14 13:34] mult1fractal commented on #80
* virnet: filter is already set for "score"...

[2020-07-14 17:27] mshamash opened #81 "Ability to enable 'virome' mode for tools: VirSorter + VIBRANT (and others?)"
Hello,

Thank you for making this Nextflow pipeline, it's really a great resource to have!

Something I noticed when doing some preliminary work with WtP so far is that there is no user-facing option to enable the 'virome' modes associated with some tools. For example, VirSorter calls it 'virome decontaination' mode and the flag is `--virome`, whereas VIBRANT calls it virome mode and the flag is `

[2020-07-14 17:42] replikation commented on #81
* ah thank you very much for bringing this to our attention
* a `--virome` flag seems like the best choice, we take a look how to implement this
   * same for the database

[2020-07-14 17:46] replikation commented on #81
@mult1fractal I'll add this to the v0.8 as its either way part of the parameter optimizations

[2020-07-14 17:48] replikation commented on #7
* closing this is now maintained via https://github.com/mult1fractal/WtP_test-data

[2020-07-14 17:48] #7 closed

[2020-07-14 17:50] mshamash commented on #81
Thanks! On another note, I’ll take this opportunity to ask what the plans are for prophage prediction? Many of these tools also output prophage predictions too. It’d be great to one day be able to input a bacterial genome and get all the predicted prophages by all the tools as output.

[2020-07-14 17:59] replikation commented on #81
yep we are currently looking into this, WtP predicts already prophages - as some tool report them of course (which are then also labelled by the checkV table results as such)
* but we want to implement this in a clean way with clear outputs, that why it's currently not "officially" supported - also there are some tools specifically designed for prophages that we want to include for this
* we curre

[2020-07-14 18:37] hoelzer commented on #81
Indeed, good and important suggestions, @mshamash !

@replikation @mult1fractal you might want to have a look here bc/ we also implemented `--virome` mode for VirSorter in VIRify:
https://github.com/EBI-Metagenomics/emg-viral-pipeline/blob/master/nextflow/modules/virsorter.nf

But yeah, it's really just a switch adding `--virome` or not.

and we are using`-db 2` as a default but I am not sure what

[2020-07-14 18:46] mshamash commented on #73
Some suggestions for milestone v0.9 prophage prediction:

Re. VirSorter: important to include only category 4 and 5 predictions, not 6. Similar to lytic phages with categories 1 and 2 being best "hits" while category 3 is likely to include many false positives (as per original VirSorter publication).

Since some tools "die a bit" when you include a full bacterial genome (2Mb++ in size), perhaps a

[2020-07-14 18:55] hoelzer commented on #73
Yes, category 4 and 5!

In this context, it might be also interesting to note that there was a bug in VirSorter predicting prophages that are actually longer than the input contig:
https://github.com/simroux/VirSorter/issues/68

It is fixed (in the master branch of VS I guess, but likely not in the current release/docker/bioconda.)

[2020-07-14 19:01] mshamash commented on #73
Yeah I always use the master branch of VS, or at least the v1.0.6 release from GitHub since I think the docker/bioconda builds are a bit outdated. Not sure if that's something that can be done feasibly with Nextflow...

There's also VirSorter2 which may be coming out soon? https://github.com/jiarong/VirSorter2
Although prophage prediction has been really hit or miss with it thus far, I imagine the

[2020-07-14 19:11] hoelzer commented on #73
True, it's possible to build an own docker image of the current VS master for WtP... but this @replikation and @mult1fractal have to decide ;)

Ah and thanks for the link to VS2! I was aware that there will be a version 2 soonish but did not know about this code repository.

[2020-07-14 19:59] replikation commented on #73
@mshamash identification tools that die on the input data will be terminated and automatically excluded from the results and figures. So its more annoying than critical as the workflow continues without that data.

[2020-07-16 08:55] #80 closed

[2020-07-22 13:58] #81 closed

[2020-07-23 07:12] replikation opened #86 "virnet to "lose""
* virnet needs better "result collection" we currently include way to many false positive hits here
* needs to be added for v.0.8.0

[2020-07-23 11:52] #86 closed

[2020-07-27 14:13] chris-rands opened #88 "Add Phigaro?"
Nice tool and idea. Perhaps our phigaro tool could also be included (although I appreciate that adding new tools is probably not trivial):
https://academic.oup.com/bioinformatics/article/36/12/3882/5822875

https://github.com/bobeobibo/phigaro

[2020-07-27 14:23] chris-rands commented on #88
Ah closing as a duplicate of #1 and #75

[2020-07-27 14:24] replikation commented on #88
ah yep, you were faster, thanks for the interest and suggestion :)

[2020-07-27 14:29] replikation commented on #88
@chris-rands the most time-consuming part is writing a parser for the tools and check/validate the tool output
so we would need:
1) a working dockerfile / container (for both docker and singularity)
2) a parser which gets us a simple list of contigs(one contig per line) that are considered "phage positive"
   * and can be used to extract the contigs via samtools
   * some tools rename contigs whic

[2020-07-29 16:10] peterk87 opened #89 "Command 'ps' required by nextflow to collect task metrics cannot be found when running '-with-tower'"
When I try to run WtP with [Nextflow Tower](https://tower.nf/) enabled (running Nextflow with `-with-tower` flag), the `ps` isn't found in the Docker containers and seems like it's needed for collecting task trace info. With Nextflow Tower disabled, the workflow runs without issue. I think the same issue may surface with [Nextflow weblog](https://www.nextflow.io/docs/latest/tracing.html#weblog-via

[2020-07-30 07:05] replikation commented on #89
hi,

thanks for the interest in WtP. We will check all or container and update the ones without `procps`. Thanks for reporting, as tower is quite convenient this will be fixed.

[2020-07-30 07:07] replikation commented on #89
@mult1fractal please check your containers too, we add this to `v0.8.2` so it can be directly used.

[2020-07-30 13:09] PollyTikhonova commented on #88
Hello, I am the Phigaro dev.  I wanted to ask, what do you mean when you say contigs? Is it something that you transform initial data in? or is it a prophage region which phigaro detects?
I was trying to understand it on my own, but I can't launch your program ( I meet with the error:

```nextflow run replikation/What_the_Phage -r v0.8.0 --cores 40 -profile local,singularity --dv --ma --vn --vb --

[2020-07-30 13:34] replikation commented on #88
hi, thank you for the interest.
the error you reported (before editing) was probably from the newest nextflow release, please use for Release v0.8.1 [NEXTFLOW version 20.01.0 or 20.04.1]. nextflow 20.07.x will be supported in our next release (currently testing that).

I mean fasta entries/names in a multifasta file. WtP reports which of these fasta entries are phages.

It would help if you could

[2020-07-30 14:22] PollyTikhonova commented on #88
Oh! WTP finished the work  (with a ruin((( ) but still, it managed to produce some data, so do I understand correctly that you need a file like those in a folder ``identified_contigs_by_tools`` ?

[2020-07-30 14:23] replikation commented on #88
ad.1 glad to hear its working
ad.2 this information is currently not needed but as it seems useful, I think we will add that too at some point (i keep that in mind for now). the complete "raw tool output" is either way completely stored too so the User can check specifically the output from your tool if they want to
* also we are currently discussing how to best implement prophage detection for th

[2020-07-30 14:27] PollyTikhonova commented on #88
Ok, I understand! Thank you very much for your responses)))

[2020-07-31 10:13] #89 closed

[2020-08-02 22:18] ponchorox opened #91 "Required storage space?"
I was running your sample script and my own test sample with very limited functions and on both occasions I found my testing SSD was filling up before concluding anything (120GB admitedly small). Aside from the downloadeable database, what else is being created that fills up so much space? Seems like too much, even in the second test run I was only using VIBRANT and annotate flags and it still fil

[2020-08-03 06:03] hoelzer commented on #91
Hi,

thanks for writing the issue. Besides the databases that are per default
writen to your current directory the pipeline is executed from, WtP writes
temporary files to `/tmp`.

Could it be that your `/tmp` disk space is limited?

You can also try to point the temporary files to another location via
`--workdir`.

ponchorox <notifications@github.com> schrieb am Mo., 3. Aug. 2020, 00:18:

[2020-08-03 07:27] replikation commented on #91
yes as @hoelzer pointed out temporary file location can be modified via `--workdir`

please see also the documentation on [Data handling](https://github.com/replikation/What_the_Phage#Data-handling)

[2020-08-04 08:48] mult1fractal commented on #89
@peterk87 : we added procps to all dockerfiles

The following command should work now in release v0.8.2:
[code]

[2020-08-05 17:34] ponchorox commented on #91
"Could it be that your `/tmp` disk space is limited?"
It is.
Given that there are a few users who have to do some explaining to their admin if they are running a new script, I think it would be appropiate to know the expected size of both results and tmp folder. I understand it would depend on which and what flags are active and the input but having a rough estimate of let's say the example test r

[2020-08-05 18:53] replikation commented on #91
* we will check that and add the information to the readme for the approx size of the "test run" but in the end its completely depended on the user input, the bigger the input the bigger the tmp files
* if tmp is limited use `--workdir path1/path` to point the tmp directory to another location of your choice
* e.g. if space is an general issue attach an external drive and point these flags to that

[2020-08-08 02:37] gabriellovate opened #95 "Pre-download for Offline-mode"
I am interested in using WTP to search for phages in a large data set of bacterial genomes, but I couldn't understand the benefit of using the --setup option. Is there a performance gain for future use of the tool using this option?

[2020-08-08 06:18] replikation commented on #95
* depends on your system, if it can handle downloading all the databases and container while running the workflow you don't need to use it of course
* it's mainly intended as a more convenient "option" for some people to download everything first
   * e.g. download singularity, DBs first and transfer them into the cluster, and then point WtP to these locations
   * it is also intended for singular

[2020-08-08 13:52] gabriellovate commented on #95
Thank you very much for the quick response. Now I understand the purpose of the flag.

[2020-08-08 16:08] #95 closed

[2020-08-12 20:20] gabriellovate opened #96 "Running WTP on multiple nodes"
Is it possible to run WTP on a cluster managed through SLURM  in multiple nodes or the pipeline only manages processes in a single node? I couldn't clearly understand how to accomplish this based on the available documentation.

[2020-08-12 20:38] replikation commented on #96
WtP (or nextflow) submits each process in parallel for jobs that can be run in parallel to slurm if you start the workflow via e.g. `-profile slurm,singularity` . Your slurm installation then manages the workload/node distribution, so yes it should use multiple nodes/available resources

[2020-08-12 20:41] gabriellovate commented on #96
Okay, so in that case there is no need to specify - cores when sending the command?
I would also like to register my compliments for the tool and for your accessibility in requests.

[2020-08-12 20:46] replikation commented on #96
* each process ist pre-configured by us regarding ram and cpu for HPC or cloud computing in [this file](https://github.com/replikation/What_the_Phage/blob/master/configs/node.config)
* and slurm also [here](https://github.com/replikation/What_the_Phage/blob/caa8540ce14c050ed6e20aafe1d1967e349a3592/nextflow.config#L92)

[2020-08-12 20:50] gabriellovate commented on #96
Now it's much clearer for me ^^
Thank you for your support!

[2020-08-13 07:28] #96 closed

[2020-08-13 14:06] PollyTikhonova commented on #88
Hello,
I did everything you asked:
1. Dockerfile and Singularity file.
1.1 About Singularity:
      For Singularity a couple of paths (PATH and HOME) should be exported, you can find them in the Singularity file. So, you can built a Singularity image from the file or from docker repository and export the paths after. Or you can omit the exporting path step and use the full path Phigaro calling (wi

[2020-08-14 07:26] mult1fractal commented on #88
Hej,
many thanks for your great effort!
We will take care of the rest 👍
I will start integrating Phigaro on Monday

[2020-08-17 19:12] #91 closed

[2020-08-18 19:07] phiweger opened #97 "Have a smaller test case"
Ideally, it should be possible to run WtP in max 10 mins on some (truncated?) test contig -- anything longer is not a test but an adventure ;)

[2020-08-18 19:45] replikation commented on #97
* small test data is available [here](https://github.com/replikation/What_the_Phage/tree/master/test-data) but yes we add a `smalltest` profile option using on of these files

[2020-08-18 19:46] replikation commented on #97
* but the first-time download will probably take like 10 mins already ;)

[2020-08-20 16:34] mult1fractal commented on #88
@PollyTikhonova : Phigaro is basically fully integrated into WtP
I just have to update some minor issues in my pull request #98   and we will release a new version of WtP with your tool 👍
Thanks to your effort it was really easy!

considerations:
* We are currently using your Dockerfile tikhonovapolly/phigaro:v2.2.6
* Is it possible to send us the "Raw Dockerfile"[with all the installation command

[2020-08-20 17:33] PollyTikhonova commented on #88
Very happy to hear that! We'll wait for your release)))
Sorry, I am not a very experienced Docker user, so I need to ask what do you mean "raw docker" ? How raw should it be?
As far as I remember, the initial phigaro image was built based on somebody's hmmer docker container and I think that's not you are asking for, am I right?
 - So, should I generate a raw docker from Ubuntu image?
 - And one m

[2020-08-20 18:03] gabriellovate opened #99 "Failed to pull singularity image"
I am having the following error when running What The Phage on Singularity with Slurm:

[code]

I am not sure if the problem is in my end though.

[2020-08-20 18:29] mult1fractal commented on #88
No Problem  I can take care of it 👍
For the moment, it's fine with your Dockerfile.
When I updated my PR I think we will release the new Version
The Dockerfile we will maintain is a long term goal when Dockerhub will update its policy

* I  basically just need the commands to build the working Dockerfile eg.:
[code]

Database:
* We download the database once.
  * First execution of WtP - download

[2020-08-20 18:59] PollyTikhonova commented on #88
@mult1fractal
 - I have a thought about reducing the size of docker: the thing is that for the work with raw data Phigaro demands hmmer and Prodigal preinstallled, but there's an option to provide already computed data by hmmer and prodigal  as an input for Phigaro. As I remember, WtP uses this tools too, so, theoretically, we can exclude this tools from docker and left just Phigaro. But, of cours

[2020-08-20 19:53] replikation commented on #99
* hi can you run WtP via `--setup` first to pre-download all images first and check if the bug persists?
* singularity has sometimes issues while building them - not sure why

[2020-08-21 10:49] replikation opened #100 "singularity hub to avoid singularity build fails"
* singularity build from docker images sometimes fails
*  we want to take a look at uploading these images to singularity hub

[2020-08-21 13:01] mult1fractal opened #101 "Own Dockerfile for Phigaro"
Create a Dockerfile for phigaro without the database download

[2020-08-26 13:55] sjspielman opened #102 "Persistent errors with chromomap"
Hello,

I have been experiencing persistent errors specifically running the chromomap step -
`[c6/5fb1e3] process > phage_annotation_MSF:chromomap (1)           [100%] 2 of 2, failed: 1...`
And ending with,
`[4e/57d82d] NOTE: Process 'phage_annotation_MSF:chromomap (1)' terminated with an error exit status (1) -- Execution is retried (1)`
Is there a known issue with chromomap at this time? I would

[2020-08-27 08:42] replikation commented on #102
Hi @sjspielman , thanks for the interest in WtP :)

The workflow works as intended. we included a few "failsafe" processes for chromomap, so if one plotting approach fails it retries another approach to render it, thus you get the fail but the retry should work. so I think you have the chromomap plots in your result dir?

[2020-08-27 13:33] sjspielman commented on #102
Hi @replikation,

Thanks for your reply. I do see some html output in the results directory. If this is what I was missing, then I guess it's all set! Along these lines, I'm wondering if you have additional documentation (perhaps some I missed!) for the files in the results directory? Or, some more explicit information for which output comes from which program so I can refer to their docs?

Thanks

[2020-08-28 09:43] replikation commented on #102
* hi, yes we will add that to the Readme and keep you informed when its done

[2020-09-14 11:21] papanikos opened #104 "Deprecation warning for unwrapped module inclusion"
Hello,

Thank you for this effort!

Currently, when launching the pipeline I get a
[code]
for all modules included in the master `phages.nf`.

I am on `nextflow 20.07.1.5412` and using  release `v0.8.2`.

I wonder if I am the only one and if not, it seems like an "easy fix" (no idea how deep it goes into all the `nextflow` files :smiley:  ).

It is just a warning, and doesn't affect the execution,

[2020-09-14 13:57] mult1fractal commented on #104
Thanks for your Issue Report!

I already took care of this in a PR for #98
I will perform a testrun tonight and if there is no error we will release a new Version tomorrow (where this warning is fixed ;) )

[2020-09-15 10:17] papanikos commented on #104
Sounds good! Feel free to close this now or after the PR has been merged

[2020-09-15 14:47] #88 closed

[2020-09-15 14:47] #97 closed

[2020-09-15 15:14] #104 closed

[2020-09-18 12:59] mult1fractal opened #105 "Create a WtP wiki"
* how to use WtP on your machine
* analyze test-data
  * what happens with positive phage sequences
  * what happens with  the negative phage sequences

* more user friendly Readme
  * catch commonly Errors  to prevent them

[2020-09-30 14:11] mandiayba opened #106 "problem when installing WTP in a centralized way for multi-users"
We wanted help to find solutions to setup a centralized multi-user installation of WtP ?

We have tried to install WtP in our cluster environment but we encountered some problems.
We have tried to deploy one instance of WtP and to let our users (several users) run it from their individual accounts (e.g., via ssh connection). For that we have created special locations (shared locations) where to st

[2020-09-30 14:42] replikation commented on #106
hi,
thanks for the interest in WtP

if i understand this correctly you want "hardcoded" default settings?

**Quick Solution:**
* can't you just "install" WtP via `git clone --branch v0.9.0 https://github.com/replikation/What_the_Phage.git`
* then change the nextflow config and let the user use this "git"?  (the version would then be fixed to the git clone of course)
* e.g.:
[code]

* would this he

[2020-09-30 14:43] replikation commented on #99
* closing this, pleas reopen if error exists

[2020-09-30 14:44] replikation commented on #76
@mult1fractal status of this?

[2020-09-30 14:46] mult1fractal commented on #105
https://readthedocs.org/

[2020-09-30 15:15] mandiayba commented on #106
Thank you for the very quick answer.
Yes we want be able to set the default settings
and by that allow several running instances of WtP to use the same workdir, the same databases and same cachedir without conflicts.

We will try the "Quick Solution", it is probably the solution.

and yes, something like "additional config input" to add to `.bashrc` file or somewhere else (for example via environm

[2020-10-14 20:38] #101 closed

[2020-10-15 07:25] #76 closed

[2020-10-15 07:26] replikation commented on #47
* @mult1fractal  i think we close this? because either process fails are ignored and the readthedocs can explain the WtP/Nextflow behavior or?

[2020-10-23 07:24] papanikos opened #110 "supervenn as an alternative/complement to UpsetR"
Hi,

What do you guys think of this? I personally find it a bit more legible than UpsetR.

https://github.com/gecko984/supervenn

This could be added as an extra plot or the user can choose which one to produce.

[2020-10-23 08:32] replikation commented on #110
hi, thanks for the suggestions, which of the one in the linked git do you mean?

[2020-10-23 09:13] papanikos commented on #110
For a biological example this:

https://github.com/gecko984/supervenn#banana-genome-compared-to-5-other-species

In general, I meant this as another tool to visualize multiple intersecting sets. An example figure I 've made for some of my data when trying some stuff out

![image](https://user-images.githubusercontent.com/12234813/96984295-b5502f80-1520-11eb-8bb4-01e5ebe5f913.png)

[2020-10-23 09:51] replikation commented on #110
* probably comes down to preferences as this is basically the upsetR figure "flipped" and the bar charts reduced to numbers and the dots changed to colors representing the size
* we will keep this issue open and add this besides the upsetR figure at a later point ( we have a few more high priority issues to solve currently ;)  )

thanks for the suggestion :)

[2020-10-23 16:14] replikation commented on #106
@mandiayba there seems to be a nextflow builtin for your issue that I was not aware of yet.

* you can "distribute" top-level congfis via `-params-file`
* see section 4 of [this blog](https://www.nextflow.io/blog/2020/cli-docs-release.html)
* so you could provide a yml file with all the paths and params and add this to the what the phage run command via e.g. `-params-file config.yml`
* @mult1fract

[2020-10-26 10:33] mandiayba commented on #106
@replikation thank you.

[2020-10-28 13:12] mult1fractal commented on #88
@PollyTikhonova
Hey I'm currently preparing our WtP preprint for submission.
I was wondering how you filter the phage positive sequences for the --wtp output
(above which (and what) cut-off it is a phage-sequence)

e.g.
Tool | Criteria | Filter|
|-|-|-|
Virsorter | Category of detection (1, 2 or 3: intact, incomplete or questionable) |Category 1 & 2|
Phigaro|?|?|

[2020-10-29 09:37] mult1fractal commented on #1
## Pro-phage tools:
* Phaster
* Virsorter
* Phage_Finder
* ProphET
* Prophinder
* PhiSpy

[2020-10-29 10:57] PollyTikhonova commented on #88
While the wtp option Phigaro is working in its basic mode, so the thresolds for the final score are
• Minimum score threshold: 45.39
• Maximum score threshold: 46.0

Briefly, the final score is computed as a product of phage concentration score and triangled GC content score [each of the scores were filtered by indicator function].

[2020-10-29 11:38] mult1fractal commented on #88
Thank you very much:)

[2020-10-29 11:45] phiweger commented on #1
uv (by me)

[2020-10-29 12:38] mult1fractal opened #112 "Add even smaller test file"
* Current test profile runs 16 cores ~1h
* smaller testset: 4 cores --> 10 min

[2020-10-29 12:41] #112 closed

[2020-10-29 12:46] replikation commented on #112
if they want to go fast they can deactivate tools ;) (you can write that in the documentation part of the test

[2020-10-30 08:54] ibelalov opened #113 "Using own checkV_database"
WtP is trying to download checkV_database. For some reasons  https://portal.nersc.gov/ is not accessible to me (... failed: Connection timed out). May be this is because I am in Russia now. I have checkV_database on my computer with CHECKVDB in my path. How do I tell WtP to use local checkV_database and not downloading it? Placing the folder into 'nextflow-autodownload-databases' folder does not w

[2020-10-30 09:19] ibelalov commented on #113
Solved it myself. Placing the DB into 'nextflow-autodownload-databases should look like: "/nextflow-autodownload-databases/checkV/checkv-db-v0.6"

[2020-10-30 09:19] #113 closed

[2020-10-30 09:19] mult1fractal commented on #113
Hey,

uploaded the databases yesterday to [OSF](https://osf.io/wtfrc/) in case some autodownload links won't work.
You can try to download the specific CheckV folder from OSF and copy it in your nextflow-autodownload-databases, but I wasn't able to test the download yet (will do it on monday)

the folder structure for CheckV-db in the nextflow-autodownload-databases should look like this:
[code]

[2020-10-30 09:48] replikation commented on #113
we will also do direct osf downloads for the next release

[2020-10-31 14:32] ibelalov opened #114 "Prophage tools"
README says:
Proper prophage detection is not implemented (yet) - but a handful of tools report them - so they are mostly identified

What are those tools, other than phigaro? What programs contribute to 'Provirus' column in the reports file?

[2020-11-02 13:59] replikation opened #115 "line breaks check"
* include a `dos2unix` process as the first process to remove different linebreaks from windows/dos and change them to linux ones
* or any other solution that firsts check an input fasta if the line breaks are alright

[2020-11-02 14:04] mult1fractal commented on #114
prophage detection tools could be:
* Phaster
* Virsorter
* Phage_Finder
* ProphET
* Prophinder
* PhiSpy

but I didn't tested/checked them yet. this was our plan for next year

I guess with reports file you mean the  `all_pos_phage_quality_summary.tsv` from [here](https://mult1fractal.github.io/WtP.github.io/Workflow-execution/results/) at the bottom of the page (otherwise please specify or paste y

[2020-11-02 14:16] ibelalov commented on #114
Thanks. Got it

[2020-11-02 14:16] ibelalov commented on #114
Thanks. Got it

[2020-11-02 22:28] #114 closed

[2020-11-02 22:29] #105 closed

[2020-11-03 09:29] deminatanja opened #116 "Reducing the number of files?"
Hi,
I have been running What-the-Phage pipeline on a metagenome of about 20 Gb, and during the job running, millions of files have been created in the workflow-phages-username directory. I have a limit of 10 mil files on my server disk area, and the job stopped when about 9.8 mil files were produced, which reached the total limit together with other files I have on the disk. Is there any way to re

[2020-11-03 11:05] replikation commented on #116
hi

## solution 1  (deactivate marvel)
* add `--ma` to remove marvel from the analysis - this uses a split fasta commands and produces as many files as contigs are present
* we will add some remove commands to this to reduce the foodprint of this process in the future :)

## solution 2 (should work for you)
* you can do both steps separatly (identification and annotation) to clean up inbetween

[2020-11-06 12:04] bramvandijk88 opened #117 "Included bioinformatic tools on readme page"
Since the last change in the readme, i can' t find back the table that used to be here: https://github.com/replikation/What_the_Phage#included-bioinformatic-tools

[2020-11-06 12:43] mult1fractal commented on #117
Hey,
We updated our Readme  to a read-the-docs-style [here](https://mult1fractal.github.io/wtp-documentation/) so it is more lucid.
At the bottom of the "home" page you will find the table with the included tools

[2020-11-09 09:16] #117 closed

[2020-11-18 21:01] phageattack opened #119 "Vibrant not working in v1.0.0"
Only works when --vb flag is used

This was the command  nextflow run replikation/What_the_Phage -r v1.0.0 --cores 8 -profile local,docker --fasta ./contigs_10kb.K2A.fasta  --workdir ./WTP_tmp

This was the error:

Error executing process > 'vibrant_database:vibrant_download_DB'

[2020-11-18 21:26] mult1fractal commented on #119
thanks for your feedback!
* You can try the `-r v0.9.0`

* seems like the download is not working properly...
  * you can download the db for vibrant [here](https://osf.io/wtfrc/) and copy the `vibrant folder` to the `nextflow-autodownload-database folder` of WtP and point via `--database`  to the nextflow-autodownload-database folder.

I will check this tomorrow

[2020-11-19 11:23] mult1fractal commented on #119
I used your command to reproduce the error but everything was working as intended.
* My guess is that the website where the original tool db from vibrant is stored was down when you executed the command...

I'm currently writing on a databasebase modul ([OSF download which is in our "control"](https://osf.io/wtfrc/)) that will prevent these kind of errors in the future.

[2020-11-19 14:38] phageattack commented on #119
Thanks for your prompt response; yes, it could be that. I have used WTP the last two weeks, and at some point in the middle of the last week, it works, including Vibrant, so I think they solve the issue, but this week fails again, so I decide to report it.
I hope that the new database will fix this. Thanks for the advice to download the database manually.
Cheers.
Sergio.

[2020-11-25 04:11] smdabdoub opened #120 "maximal CPUs incorrect"
I don't know if this is a nextflow issue, but [line 7 in nextflow.config](https://github.com/replikation/What_the_Phage/blob/465df50a81d03a85853431dff8448262e8dc22bb/nextflow.config#L7) returns 1 for max_cores. So when running the setup I get the following line:

`CPUs to use: 40, maximal CPUs to use: 1`

and frequent errors like:

    Error executing process > 'setup_wf:vibrant_download_DB'

[2020-11-25 06:46] mult1fractal commented on #120
Hey, thanks for your feedback!
We will check this.

Yes.. with `--cores 4` you should be able to solve this Problem. But we will fix this in our next update 👍🏼

[2020-11-25 07:29] replikation commented on #120
@smdabdoub you should be able to increase this via e.g. `--max_cores 20`
@mult1fractal we might want to hard code a high number in there? not sure

[2020-11-25 08:48] hoelzer commented on #120
Hi @smdabdoub and thanks for reporting!

It looks like `max_cores = Runtime.runtime.availableProcessors()` does not get the correct number of cores on your system so this can be solved as @replikation suggested.

However, what is the machine you are running the pipeline on? A cluster machine? Work station?

The reason we implemented this: imagine you have a single workstation with 48 cores that ar

[2020-11-25 08:49] replikation commented on #120
we should move this parameter to the local profile then? @hoelzer

[2020-11-25 08:58] hoelzer commented on #120
True, the parameter is only useful in local execution mode. Cloud and HPC (Slurm, ...) should be not affected. But I think this is also already implemented only for the local profile:
https://github.com/replikation/What_the_Phage/blob/master/nextflow.config#L89

[2020-11-26 01:07] smdabdoub commented on #120
@replikation Thank you, the --max_cores flag worked!

@hoelzer I'm running this on a cluster node, so I'm using all available cores.

[2020-11-26 08:12] hoelzer commented on #120
Good to hear that it works now! May I ask which `-profile` configuration you are using on your cluster node? If you are using something like `-profile local,singularity` it seems that the `availableProcessors` command does not work on your cluster node. If you are using an HPC scheduler such as `-profile slurm,singularity` the max cores parameter should have no effect.

[2020-11-26 14:03] papanikos opened #121 "virsorter2 container fails with "Permission denied: '/db/group' ""
Hi,
I am running:
[code]
Versions:
nextflow: 20.07.1
singularity: 3.6

and getting all tasks for virsorter2 failing with:
[code]

Permissions inside the container
[code]

Am I the only one that runs into this?

Would a
[code]
solve it when building the container?

Would you happen to know if I can I set permissions for dirs in a pre-built image?

[2020-11-26 14:11] replikation commented on #121
* hi where is `/db/group`  located? What's the permission on `/db/group` ?
* also your command looks strange, "paths infos" are missing

[code]
usually its something like this, e.g.:

[code]

[2020-11-26 14:19] papanikos commented on #121
My paths are there I just excluded them for brevity, sorry for the confusion.

The `singularity shell <path_to_img>` allows me to run an interactive shell within the container.
The `/db/groups` is a path inside the container created according to the dockerfile on https://hub.docker.com/r/multifractal/virsorter-2/dockerfile with
[code]

[2020-11-26 15:56] replikation commented on #121
* okay thanks for the clarifications, we work on a fix

[2020-11-26 17:03] smdabdoub commented on #120
@hoelzer I haven't figured out how to configure the SLURM side of the WtP, so I've been starting SLURM jobs myself and then using `-profile local,singularity`.

[2020-11-26 17:12] replikation commented on #120
@smdabdoub WtP is autoconfigured to submit each task with the appropriate CPU ram. did you try running it via `-profile slurm,singularity` ? it submits a slurm job for each process basically.

* slurm was integrated and tested, check this: https://github.com/replikation/What_the_Phage/pull/84

[2020-11-26 17:27] smdabdoub opened #122 "Broken link to 'Pre-download for Offline-mode' in Troubleshooting"
The [Troubleshooting FAQ](https://mult1fractal.github.io/wtp-documentation/troubleshooting/) under 'Singularity image problems' has a broken link to the 'Pre-download for Offline Mode' section of the Workflow execution > Commands page:

https://mult1fractal.github.io/Workflow-execution/commands/#pre-download-for-offline-mode

instead of:

https://mult1fractal.github.io/wtp-documentation/Workflow-e

[2020-11-26 17:54] #122 closed

[2020-11-26 18:07] mult1fractal commented on #106
No time to check it yet.. is on my to do stack for next week

[2020-11-27 10:29] hoelzer commented on #120
Ahh, okay so you submitted the whole pipeline call (`nextflow run phage.nf ...`) via sbatch and `-profile local,singularity`? That way, WtP will only run on a single node on your Slurm HPC and does not take advantage of parallelization like described by @replikation . Depending on your sbatch command, it might even start a node only with 1 core per default and that's why the auto-check for the max

[2020-11-27 16:11] smdabdoub commented on #120
@replikation I did attempt using `-profile slurm,singularity` but the scheduler threw an error complaining that no available resources matched the request. I'm assuming I need to edit the default nextflow.config [SLURM section](https://github.com/replikation/What_the_Phage/blob/ad372f0f7dd49e408a30260805d948a2ae0e7088/nextflow.config#L68).

@hoelzer If I can get the SLURM configuration working, I

[2020-11-27 17:13] replikation commented on #120
@smdabdoub yep this needs to be edited, if you can get this to work please report back and we try to add this. otherwise, I don't have experience with slurm to help here.

[2020-12-14 10:28] deminatanja commented on #116
Hi, thank you, solution 1 helped to get the job done!

[2020-12-14 11:02] replikation commented on #116
@mult1fractal i add this issue to the todo we might want to "check input data" if there are "to many contigs" and auto deactivate marvel (?) or atleast add this to our FAQ documentation

@deminatanja how many contigs or sequences has you input file? (`grep ">" -c *.fasta`)

[2020-12-15 07:37] deminatanja commented on #116
The metagenome I used when the problem of too many files occurred had 9,096,281 contigs. Later I updated the WtP version  and switched to smaller datasets of about 1,200,000 contigs with --ma option, and the jobs ran without problems.

[2020-12-21 01:26] ucassee opened #123 "too slow"
Hi,

I use the following command to run wtp with an input fasta file (~60M):
`nextflow run replikation/What_the_Phage --fasta wtp/all_combined.fasta --databases nextflow-autodownload-databases --cachedir singularity_images --output wtpresult   --cores 20  -profile local,singularity  -r v1.0.0`

I find the ` hmmsearch` step only running with one thread. I wonder whether some configure file I should

[2020-12-21 14:25] replikation commented on #123
hi, can you specifiy which process you mean ?

based on the report file i can only see that the "identify" workflow was executed not the annotation workflow.

in this case: `identify_fasta_MSF` but not a `phage_annotation_MSF`

either way you can modify ram/cpu usage locally via this file: https://github.com/replikation/What_the_Phage/blob/master/configs/local.config

hhmscan currently uses all th

[2020-12-21 14:40] replikation commented on #123
the issue was a missing hardware configuration for virsorter 2. we will push a hotfix release today to fix that

[2020-12-21 14:51] #120 closed

[2020-12-21 14:51] #119 closed

[2020-12-21 14:52] #47 closed

[2020-12-21 14:52] #45 closed

[2020-12-21 16:43] mult1fractal commented on #123
Hey,

we fixed the config files where virsorter 2 was missing.
* use `-r v1.0.1` and re-execute your command

[2020-12-22 05:09] ucassee commented on #123
Hi @replikation,
       I am not sure which process it was.
       But the command is like this `hmmsearch -T 30 --tblout iter-0/all.pdg.faa.splitdir/all.pdg.faa.ss.1.split.Viruses.splithmmtbl --cpu 1 --noali -o /dev/null /db/hmm/viral/combined.hmm /tmp/vs2-K6zvoLzjXZlu/all.pdg.faa.ss.1.split`
       I will try new version.

[2021-01-02 05:17] ucassee commented on #123
Hi,
    There is still an error when I use a non-root acount. How can I debug this?

Error executing process > 'identify_fasta_MSF:fasta_validation_wf:input_suffix_check (1)'

[code]

Thanks

[2021-01-02 13:17] replikation commented on #123
i think that has to be configured from the e.g. cluster-admin side of things I think (https://github.com/hpcng/singularity/issues/5240)

[2021-01-06 07:55] ucassee commented on #123
Hi,
    I met a new error. How can I  debug? Thanks.

[code]

[2021-01-06 08:31] hoelzer commented on #123
This still looks like a problem with Singularity on your system:

[code]

What is your version?

[code]

Was singularity installed by a system administrator and configured appropriately?

You can also try if singularity works outside of the Nextflow framework of WtP:

[code]

[2021-01-06 08:47] ucassee commented on #123
Hi @hoelzer,
My singularity version is 3.6.3. I use conda to install it with my own account.

when run `singularity run /data/database/wtp/singularity_images/nanozoo-basics-1.0--962b907.img wget --version` with the same error:

[code]

[2021-01-06 10:56] hoelzer commented on #123
@ucassee okay the version should be fine.

But I experienced issues in the past when installing Singularity via conda on an HPC system where I'm not root. Are you running the pipeline on a (administrated) cluster machine? HPC, work station, ... or similar?

If so, I think you should ask your system admin to install Singularity properly with root access. E.g., I did it using the following manual/no

[2021-01-08 01:31] ucassee commented on #123
Hi @hoelzer
I will try to contact the system admin of our cluster.
But when I run the wtp using our work station. It is still going error with some virus prediction tools. I uploaded one report. Can I debug this or it is okay to ignore them?

Thanks
[execution_report.zip](https://github.com/replikation/What_the_Phage/files/5784709/execution_report.zip)

[2021-01-08 13:08] hoelzer commented on #123
@ucassee it looks like three virus prediction tools failed:

* seeker
* virnet
* pprmeta

Although that is not nice, it can happen based on your input that some tools will not work. But WtP will run through anyway with the other tools. When you run the test profile on your work station, do these three tools work in general? Than it's fine and no need for debugging

[2021-01-08 13:43] replikation commented on #123
we can take a look at this, but as martin metnioned we "autoskip" tools if they fail for various reasons so you get actual results and are not annoyed with tons of bugs :)

We would need the "temporary dirs" to check out whats going on.

the following dirs would be of interest (located in the work dir):
[code]
inside are hidden files like `.command.log`.  And an `ls -lah` per dir would also be gre

[2021-01-09 02:58] ucassee commented on #123
Hi @replikation @hoelzer

Thanks for your reply. If you need any other files, please let me know.
[virnet.zip](https://github.com/replikation/What_the_Phage/files/5790072/virnet.zip)
[pprmeta.zip](https://github.com/replikation/What_the_Phage/files/5790074/pprmeta.zip)
[seeker_wf.zip](https://github.com/replikation/What_the_Phage/files/5790075/seeker_wf.zip)

[2021-01-13 04:45] ucassee commented on #123
Hi,
I run the test profile, but there is still one error. I attached the report.
Thanks
[phigaro.zip](https://github.com/replikation/What_the_Phage/files/5806430/phigaro.zip)
[execution_report.zip](https://github.com/replikation/What_the_Phage/files/5806433/execution_report.zip)

[2021-01-22 23:14] mult1fractal commented on #123
I will look into it tomorrow

[2021-01-25 13:55] papanikos opened #124 "package checkv results in final output results"
Hello,

According to the `checkv.nf` there are several calls to checkv's functionality. However, I am only getting the final summary stats for quality in the `<prefix>_contigs_quality_summary.tsv` .

The rest of the `tsv`s and `viruses.fna` can be traced back to the workdir of the `checkv_wf` job, but this seems a bit convoluted and not secure - I like to remove the workdir after a complete execut

[2021-01-25 14:00] replikation commented on #124
* seems resonable to add this `results/raw_data/checkv_results_<prefix>.tar.gz`
* thanks for the suggestions we keep ypu updated

[2021-01-27 10:00] mult1fractal commented on #123
Hey,
unfortunately I was not able to reproduce your error with:
[code]

I checked the phigaro.zip file  `.command.err` :
`WARNING: underlay of /etc/localtime required more than 50 (95) bind mounts`

It seems this is linked to CentOS and using singularity...
I will try to find a solution for this

[2021-01-27 13:02] ucassee commented on #123
Hi @mult1fractal,
Thanks for your effort, when you solve it please let me know. If I could find some clues, I will also report here.

[2021-01-27 15:30] kullrich opened #125 "Conda Installation - fails"
As given by the docu, the following fails:
conda create -n wtp nextflow==20.07.01 singularity==3.6
singularity 3.6 just does not exist
Could you please update the following page for the conda section and alter into
singularity==3.6.1
https://mult1fractal.github.io/wtp-documentation/installation/quick_installation/
Thank you in anticipation

[2021-01-27 16:34] mult1fractal commented on #125
Hey,
Thanks for the feedback!

I updated the section to `singularity==3.6.1`

[2021-01-27 16:35] #125 closed

[2021-02-01 06:36] ucassee commented on #123
Hi @mult1fractal
WTP seems to run all identifiers parallelly.  I used a local server to run it and saw a heavy load at the beginning. Sometimes I use a bigger assembly file (>500MB), my server crashed and restarted.
Do these relate to the error I met before?
Thanks

[2021-02-01 07:43] replikation commented on #123
@ucassee Could you please provide the command used? The amount of parallel runs is basically controlled via the cores flag in relation to the max_cores on a local run.

[2021-02-01 07:56] ucassee commented on #123
Hi @replikation
The following is the command:
[code]

[2021-02-01 09:15] ucassee commented on #123
Hi all,

The .command.sh  of the phigaro is the following:

[code]

But there is no config file at  /root/.phigaro/config.yml. So is this also related to the error I reported before.

[2021-02-01 12:42] ucassee commented on #123
the error of phigaro can be debugged by using` phigaro-setup` in the singularity environment.

But the following step only called 1 thread, I wonder how to use more threads.
` hmmsearch -T 30 --tblout iter-0/all.pdg.faa.splitdir/all.pdg.faa.0.split.Viruses.splithmmtbl --cpu 1 --noali -o /dev/null /db/hmm/viral/combined.hmm /tmp/vs2-DjvgJ5JdjQnV/all.pdg.faa.0.split  `

[2021-02-02 04:55] ucassee commented on #123
The tensorflow version in pprmeta image is 2.3, but the old CPU that doesn't support avx will have `Illegal instruction (core dumped)` problem.
Please see here https://github.com/tensorflow/tensorflow/issues/17411

I suggest you use tensorflow==1.5 to regenerate the image for compatibility with the older CPU.
Thanks

[2021-02-02 11:44] mult1fractal commented on #123
Okay...
for virnet pprmeta and seeker:  I can try to build the images with ` tensorflow==1.5` but I'm not sure if the tools will work with this version of tensorflow

for Phigaro: I'm not able to reproduce this error with your command you posted above, nor with the command I used:
[code]
I will try  both commands with a larger Inputfile, maybe this causes the issue

[2021-02-02 12:28] ucassee commented on #123
Hi @mult1fractal ,
For Phigaro error, I use `singularity multifractal-phigaro-0.5.2.img` and `phigaro-setup` to generate the config file `/root/.phigaro/config.yml`.

I also used a new server that supports avx, so I can get the results from all wrapped tools now.

[2021-02-03 11:50] #123 closed

[2021-02-04 09:13] ucassee commented on #123
Hi @mult1fractal @replikation,

Virnet is designed for virus reads identification, not for assembly. Please see https://github.com/alyosama/virnet/issues/8
I think this is a cause of the virnet error, so I suggest you remove it from WTP.
I see a new tool having good performance in virus identification. Also, attached here for you to consider. https://github.com/ablab/viralVerify

I am using wtp fo

[2021-02-04 16:58] mult1fractal commented on #123
Hey @ucassee

before the input-fasta sequence gets to virnet, we [split the fasta file into 3000bp chunks](https://github.com/replikation/What_the_Phage/blob/master/bin/cut.py)  as suggested from the virnet-Dev.

Okay nice, I will check it and put it on our list of tools to integrate.

[2021-02-15 14:43] hoelzer opened #126 "bioRxiv link via badge not working"

[2021-02-15 14:49] #126 closed

[2021-02-17 13:32] mult1fractal opened #127 "SOP for adding new tools"

[2021-03-08 06:49] mol529 opened #128 "failed for downloading the images"
Hello,

I installed the tool via conda, and tried to download the images many times. However, all failed.

Command: nextflow run replikation/What_the_Phage -r v1.0.1 --setup -profile local,singularity --cachedir IMAGE-LOCATION

log:
N E X T F L O W  ~  version 20.07.1
Launching `replikation/What_the_Phage` [marvelous_swirles] - revision: 4d9ffa2b8a [v1.0.1]
_____ _____ ____ ____ ___ ___ __ __ _ _

[2021-03-08 15:18] mult1fractal commented on #128
Hey @mol529 ,
Thanks for the feedback!

unfortunately I wasn't able to reproduce this error on our system...
Sometimes the servers where the databases are stored are down and WtP can't download the corresponding databases...
Please retry your command (it should work now)

if not....
I have already stored the databases needed for WtP on [OSF](https://osf.io/wtfrc/) so we become more independent...

[2021-03-11 11:42] #128 closed

[2021-03-26 13:53] Ann3M01 opened #129 "Error setup databases"
Hi,

I have a problem with the WTP setup I get an error when using this command:

    nextflow run replikation/What_the_Phage -r v1.0.1 --setup -profile local,singularity

[code]
I saw I can download the databases [here](https://osf.io/wtfrc/), but how do I download them on the server I am using and how do I make sure WTP will find it when I will run the code again?

[2021-03-26 14:43] mult1fractal commented on #129
Hey @Ann3M01

* usually the server where the --setup is downloading the database is up again in at least 1 day
* you could use [this](https://github.com/osfclient/osfclient) tool to download the vibrant DB
* when you do the actual run you can point via `--databases` to the folder where you downloaded all the databases

[2021-03-30 08:10] Ann3M01 commented on #129
Hey @mult1fractal

Thanks the setup now worked, after that I went for the test run which gave some errors. My command was:

[code]
The error I got was this:
[code]
I also tried the other test run command using local and docker:
[code]
which gave the following error:
[code]
I tried both because I saw at other issues the problem was sometimes docker. Which profile would be better for me to use (loca

[2021-03-30 09:11] replikation commented on #129
hi

* `Cannot run program "sbatch"` means that there is no sbatch available to you (which is for slurm), So not sure where slurm is installed for you

* second one: `  /usr/bin/docker-current: Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?.  See '/usr/bin/docker-current run --help'.`
* is docker working for you? e.g. is this working for you? `dock

[2021-04-12 15:55] deminatanja opened #131 "Prodigal output"
Hi,
Do I understand correctly that the Prodigal output file (.../raw_data/prodigal_out/contigs_prodigal.faa) is for all positive contigs (i.e., from all tools)? Is there a way to extract only some part of the file that corresponds to e.g. just Virsorter-identified contigs? Or is the only way to produce such file is to take raw data from the tool of interest and run Prodigal separately?
Best regard

[2021-04-13 10:21] mult1fractal commented on #131
Hey @deminatanja
correct, `.../raw_data/prodigal_out/contigs_prodigal.faa` is for all the tools that were deployed.

If you want a `.../raw_data/prodigal_out/contigs_prodigal.faa` for only eg. virsorter you could try this:
* turn off all tools except virsorter and run WtP
* you could also run WtP as usual but with `--identify`
  * get the raw data from virsorter
  * run WtP with `--annotate` and t

[2021-04-13 14:32] deminatanja commented on #131
Hi,
Thank you for the answer!
Best,
Tatiana

[2021-04-13 14:32] #131 closed

[2021-04-16 08:55] mult1fractal opened #132 "add-On for chromomap (temperente phage or not)"
based on Mark's suggestion:
people are interested in temperente phages or not:
* show in chromomap the following genes:
  *  integrase
  * exicase
  * depolymerase (for people work on biofilms)
  * LCR (lysogenic control region)

[2021-04-19 14:48] papanikos opened #133 "marvel fix and docker image available"
Hi @mult1fractal @replikation ,

I was running into an issue with marvel failing on some input.
* The main issue is described on papanikos/MARVEL#1
* A PR is awaiting approval [here](https://github.com/LaboratorioBioinformatica/MARVEL/pull/6) - the author has been contacted and seemed to agree.

In the meantime:
* A new [Dockerfile](https://github.com/papanikos/What_the_Phage/blob/marvel_fix/phage

[2021-04-20 07:48] replikation commented on #133
hi, thanks for reporting. This would be basically fixed just by using a newer docker container if I understand this correctly? (the moment marvel releases a new version)

[2021-04-20 07:50] #106 closed

[2021-04-20 09:16] papanikos commented on #133
Yes, that is correct. This is what I did and reporting here - a container with the patch included, available as `papanikos/marvel:0.2-e2591bb`.

What I put in the container is the branch with the fix from my fork - whereas I think it would be better to just use one entry point in general. In this case, that would be the original repo, properly updated etc.

I will just create a new PR that updates

[2021-04-20 11:02] replikation commented on #133
yep, i totally agree on this, one of the reasons we couldn't "just" use conda was that we needed to "adjust" a few tools as the installation was a nightmare followed up by the execution.

[2021-06-08 14:52] ntromas opened #135 "checkV output"
Dear WTP team,

Thanks for this excellent pipeline!
I played a bit with my dataset and I got 86 viral positive contigs. However, the output from checkV only found very few with viral gene. Is checkV too conservative?

My second question concerns the prophage prediction, is there a way to separate potential viral contigs to potential prophage contigs?

Thanks!

Nico

[2021-06-09 12:22] mult1fractal commented on #135
Hey @ntromas
Thanks for the positive feedback!

1) We are running CheckV with default settings... but if you want to use different settings you can also use the docker container `nanozoo/checkv:0.6.0--e97f45e`
but make sure you start the container in the folder where the checkV database is located... or mount the database into the docker container.

2) We are currently working on a scoring system

[2021-06-30 19:53] Neato-Nick opened #136 "Where is docker setup writing files to?"
I have a small SSD and a large HDD that I use for storage. I keep all my databases on the large HDD so I'm attempting to download there. But while downloading databases, filespace is getting eaten up in $HOME on my SSD at a much faster rate than where I'm downloading the databases to on HDD (/data/databases). I have added all the parameters I saw on the wiki to specify download locations, even --c

[2021-07-01 10:35] replikation commented on #136
Hi

so for docker (they are stored in you "bootdisk" where var is located i think):

these images and sizes can be inspected via `docker images` and you can remove them individually via `docker rmi <imagename>`
For a complete cleanup (removes all docker images / containers etc), do:

[code]

regarding disk space:

every file that is produced by WtP is stored here:

[code]
* all these directories l

[2021-07-01 18:59] Neato-Nick commented on #136
Great! After the databases are downloaded, can we download the --workdir from the setup command? For me that ended up being 31G.

`docker images` is really helpful. Can the sum of container space required be added to the wiki?
Totals: 31G workdir, 41G databases dir, plus the sum of these containers, I think they were all added during setup, with the exception of maybe dfam/tetools?
[code]

[2021-07-02 10:44] replikation commented on #136
* the "problem" or advantage with docker is that ech image consists of slices and that container can share slices.
* e.g. we try to build up these images with the same base image and if e.g. a slice is ~200 MB and the same across 10 other image it will only occupy the 200 MB once on your disk drive.
* I think `docker system df` shows the used disk space in total
* `--workdir` is created everytime

[2021-07-06 06:58] ucassee opened #137 "install without root privilege"
Hi,

I want to install the wtp on HPC, but I can't get root privilege. Is there a way for me to install wtp and run it with PBS environment?

Thanks

[2021-07-12 08:58] mult1fractal commented on #137
Hey,

unfortunately we have no access to PBS environment...
later I will prepare a nextflow profile where you can test it and report back if it works for you 👍🏽

But you need docker or singularity installed.. maybe you can ask your IT department if they can install singularity?

[2021-07-12 14:05] ucassee commented on #137
Hi,
If your new version can be install without root privilege, I CAN test it on the HPC with PBS environment.

[2021-08-27 04:08] marineLZ opened #140 "How to get the version of tools that What the Phage used？ e.g. virsorter，virfinder etc."

[2021-08-27 04:08] marineLZ opened #141 "How to get the version of tools that What the Phage used？ e.g. virsorter，virfinder etc."

[2021-08-27 04:13] #140 closed, assigned to nobody

[2021-09-01 07:13] bramvandijk88 opened #142 "Error downloading VOGTable.txt"
My What the Phage workflow is currently unable to access the following file. As you may notice, the file is just not available now. So I suspect has been moved or renamed: http://dmk-brain.ecn.uiowa.edu/pVOGs/downloads/VOGTable.txt

But the entire workflow now hangs. I however have the file available somewhere, but failed to figure out how to make the workflow use my local VOGtable file. How can I

[2021-09-01 07:49] replikation commented on #142
hi,

we have databases also backuped here: https://osf.io/wtfrc/

WtP has  a `--database` flag. you point with this flag to the "maindir" containing all the databases (each in their subdir). Like the backup structure here: https://osf.io/wtfrc/   to include these preloaded databases just do `--database WtP_Nextflow_databases`

[2021-09-02 12:02] papanikos commented on #142
For anyone interested in downloading the osf-backed data from the command line

I could not figure out a simple `wget` or `curl` method so I used the [osfclient](https://osfclient.readthedocs.io/en/stable/) You will need to install it either with
[code]
or
[code]

Then
[code]
where `databases` is my desired local output path.

This gets stuff stored in  `databases/osfstorage/WtP_Nextflow_databases

[2021-09-03 02:45] marineLZ opened #143 "deactivate tools"
I deactivate some tools in the command. But WTP still run all these tools and only get the "raw_data" file result.
My  code is:
nextflow run ~/.nextflow/assets/replikation/What_the_Phage/phage.nf \
--fasta ./mix_all_filter.fa \
--output ./result_out \
--databases ~/nextflow-autodownload-databases \
--cachedir ~/singularity-images \
-profile local,singularity --work-dir work --cores 32 \
--dv \
--m

[2021-09-03 06:45] mult1fractal commented on #143
Hey could you run WtP with a release candidate
these are stable versions and work as intended.
The master branch is this week "under construction" bc I'm working on a simplification of the workflow.

[code]

[2021-09-13 19:10] ntromas opened #144 "phage_tax_classification process issue"
Hi!

I am using WTP with a very large input file of contigs (10,977,373 seq)

**Command used:** nextflow run replikation/What_the_Phage --fasta all_contigs_Champ_2016_2020.fa --cores 12  -r v1.0.2 --workdir work --cachedir cache -profile local,docker

**Error found (I repeated several time and always got this)**

Error executing process > 'vogtable_database:vogtable_DB'

Caused by:
  Process `vogt

[2021-09-14 08:02] mult1fractal commented on #144
hey,

this error was described in issue #142
I already fixed it by directly downloading it by the OSF backup databases.
This fix will hopefully come this week as it is part of a bigger WtP rework.

sorry for the inconvenience

[2021-09-14 08:03] #129 closed

[2021-09-14 11:12] #135 closed

[2021-09-14 11:13] #116 closed

[2021-09-14 16:38] ntromas commented on #144
Hey,

Thanks, I downloaded the database and use the --databases flag (on your doc, you describe it as --database, the "s" is missing).
Thanks!

[2021-09-19 12:40] marineLZ commented on #143
Dear authors，when I add the version flag i.e. -r v1.0.2. An error occurred : Revision option cannot be used running a script.

[2021-09-19 13:00] mult1fractal commented on #143
Hey,

have you tried it without the `.` behind the `2` ?
`nextflow run replikation/What_the_Phage  -r v1.0.2`

[2021-09-19 13:46] marineLZ commented on #143
Yes， there is no . behind the 2.

N E X T F L O W  ~  version 20.07.1
Revision option cannot be used running a script

my commad are as follow:

cd ~/.nextflow/assets
nextflow run replikation/What_the_Phage/phage.nf -r v1.0.2 \
--fasta ~/zhoulei/WTP-deepsea/mix_all_filter.fa \
--output ./result_out1 \
--databases ~/nextflow-autodownload-databases \
--cachedir ~/singularity-images \
-profile local,

[2021-09-20 07:38] replikation commented on #143
this "Revision option cannot be used running a script" happens when you are directly using the `phage.nf` file ( so a local run) instead of
`nextflow run replikation/What_the_Phage -r v1.0.2  --help`

[2021-09-22 19:53] hayleyjaywilson opened #146 "Singularity3.6.1 not found"
Hello,
I wonder if you can help? I am following the set up instructions here:
`conda create -n wtp nextflow==20.07.01 singularity==3.6.1`

But I am continually getting the error:
`PackagesNotFoundError: The following packages are not available from current channels:

  - singularity==3.6.1`

I have tried adding numerous other channels and getting the same result. I have also installed the package

[2021-09-23 08:02] replikation commented on #146
Is it also not working if you add the `-c conda-forge` flag to the command? because it sounds like it cant find the package

[2021-09-23 09:25] hayleyjaywilson commented on #146
Thanks for the reply.
conda create -n wtp -c conda-forge nextflow==20.07.01 singularity==3.6.1
conda create -n wtp -c bioconda nextflow==20.07.01 singularity==3.6.1

All have the same result as before.

conda search singularity==3.6.1 returns no results

Thanks

[2021-09-23 09:35] replikation commented on #146
* you could try to remove the `==3.6.1` for now. i forwarded the question to some conda/singularity users, i use docker myself (which would be the preferred solution to use).

[2021-09-23 09:46] hayleyjaywilson commented on #146
Sorry. Same result. Thanks for passing this on. I'll look at the Docker option too.

[2021-09-23 10:31] replikation commented on #146
@hayleyjaywilson this is working on our end: `conda create -n wtp -c bioconda Nextflow singularity`

[2021-09-23 13:42] hayleyjaywilson commented on #146
Sadly not for me. Must be a problem this end although I can't work out what!

[2021-09-23 13:45] hayleyjaywilson commented on #146
Although I have just tried it on my remote server and it has worked straightaway. There must be an issue with my conda setup...

[2021-09-23 13:54] hoelzer commented on #146
I can confirm that this also works for me but will install a quite old Singularity `singularity-2.4.2`. The Singularity on `conda-forge` is more up-to-date.

@hayleyjaywilson maybe there i something wrong with your default channel configuration in a file called

[code]

For me, this sometimes causes trouble. You could also try a 2-step approach:

[code]

worked for me. Are you on a HPC cluster whe

[2021-09-23 15:09] hayleyjaywilson commented on #146
Hi Martin,

Thanks so much for your helpful suggestions. I've been back and checked my condarc file and it is set up pretty much the same as your example. I've tried the two step process and nextflow is no problem but still getting the same error with singularity even specifying the conda-forge chanel. I'm at a loss as to what is up with it - nothing seems to be able to locate it even though it cl

[2021-09-23 15:46] hoelzer commented on #146
@hayleyjaywilson okay strange... but the ways of `conda` are somtimes... you could maybe try `mamba` instead :) Just install `mamba` via `conda` and then use `mamba` to resolve the dependencies ;)

But, when you can already load a Singularity module on your HPC this might be even better and you can run WtP in a highly parallel manner.

good luck!

[2021-09-27 19:23] ntromas commented on #144
Hi!
With the downloaded db, it worked, thanks!
However, I got several errors. Not sure if the process for these virus pipelines worked or not.
Thanks for your help,

Nico

_[7c/a72104] NOTE: Process `identify_fasta_MSF:vibrant_virome_wf:vibrant_virome (1)` terminated with an error exit status (1) -- Error is ignored

I got the same for seeker and pprmeta (example of what I have)

[a4/65f607] proce

[2021-09-27 20:56] replikation commented on #144
hi, some tools sometimes cause errors (could be due to the input data) we set these to ignore so the pipeline continues.

[2021-09-27 20:58] ntromas commented on #144
Hi!

Thanks, do you think it might be due to the big size of the input or the
computer capacity?

Nico

Le lun. 27 sept. 2021 16 h 57, Christian Brandt ***@***.***>
a écrit :

[2021-09-27 21:04] replikation commented on #144
yep could be. you could try to set the `--cores` the amount of threads you have, thus spawning only one process after another (not multiples in parallel)

[2021-09-30 08:42] #124 closed

[2021-09-30 08:42] #133 closed

[2021-09-30 08:42] #142 closed

[2021-09-30 08:42] #143 closed

[2021-09-30 08:42] #144 closed

[2021-09-30 09:01] #102 closed

[2021-10-04 00:58] 444thLiao opened #147 "cache directory of singularity"
Dear all,

I recommend adding `envWhitelist = 'SINGULARITY_LOCALCACHEDIR'` in the `nextflow.config` to make the env `SINGULARITY_LOCALCACHEDIR` usable in nextflow. This env could designate the location to which singularity images extract. For some nodes, the small `/tmp` might make the mount failed.

Furthermore, the latest version of vibrant (v1.2.1) has reconstructed the parameters. Thus, I thin

[2021-10-04 07:49] mult1fractal opened #148 "remove databases after run to reduce footprint"

[2021-10-26 06:24] SebasSaenz opened #149 "version 1.0.2 conda"
Hi,

I was wondering if the latest version 1.0.2 is available via conda installation.  I tried to install it but it says it does not exist. I am having some issues running virsorter2 with the previous version and I would like to update.

Thank you

[2021-10-29 12:47] lingyi-owl opened #150 "run WtP changed the dot in the scaffold headers to underscore"
Hi I found WtP output changed the dot in the scaffold headers to underscore.
For example, SRR5665035_NODE_23_length_33072_cov_3.117065 was changed to SRR5665035_NODE_23_length_33072_cov_3_117065.
I have always had to change the underscore back to dot for the downstream analysis. It takes a lot of efforts if I have to do it many times. I have used WtP a lot.
I wonder if there is any reason WtP modi

[2021-11-08 13:42] ntromas opened #151 "exit status (137)"
Hi,

I just got this error and I wonder how to fix it. Thanks for the help!
In the working dir "70c33636e9449f7ab62b01d9375d6e" I do have tmp_allctgs.txt file that is not empty.

Cheers

Nico

_Error executing process > 'identify_fasta_MSF:samtools (1)'

Caused by:
  Process `identify_fasta_MSF:samtools (1)` terminated with an error exit status (137)

Command executed:

  cat metaphinder-own-DB.tx

[2021-11-08 13:52] replikation commented on #151
hi, exit statements of 137 or more generally exit> 100 are usually related to the computer hardware (e.g. not enough RAM).

what system are you running on?

[2021-11-08 13:55] ntromas commented on #151
Hi,

Worstation with Ubuntu 20.04 , 128Gb RAM, 26 cores.

Nico

Le lun. 8 nov. 2021 08 h 52, Christian Brandt ***@***.***> a
écrit :

[2021-11-08 14:01] replikation commented on #151
can you also paste the command used and the WtP version that you used? @ntromas

[2021-11-08 14:41] mult1fractal commented on #151
I'm running now your command on our workstation and try to reproduce the error.

[2021-11-09 09:04] mult1fractal commented on #151
Hey,

I was unable to reproduce your error.
The workflow finished without any problems with your command.

Have you tried to reboot your workstation and re-run WTP

[2021-11-09 11:21] ntromas commented on #151
Will try that...

Le mar. 9 nov. 2021 04 h 05, Mike Marquet ***@***.***> a
écrit :

[2021-12-05 20:30] phageattack opened #152 "virsorter2-db not working in v1.0.2"
I tried to use v1.0.2
nextflow run replikation/What_the_Phage --no-check-certificate --setup -r v1.0.2 -profile local,singularity --databases /home/sguajardo/wtp_new_DB --workdir /home/sguajardo/wpt_workdir --cachedir wtp_cache

and I get this error:

Error executing process > 'setup_wf:virsorter2_download_DB'

Caused by:
  Process `setup_wf:virsorter2_download_DB` terminated with an error exit st

[2021-12-07 09:35] mult1fractal commented on #152
could you try the command without `-resume` and  `--no-check-certificate` ?

[2021-12-07 15:05] phageattack commented on #152
That sounds great! thanks.

[2021-12-09 12:37] mult1fractal commented on #152
Hey,
I added the --no-check-certificate now to all wgets and released a pre-release:

Can you try your command again with `-r v1.0.3` and test if the download works?

[2021-12-10 11:34] lingyi-owl opened #153 "VirFinder output reached 'max'"
Dear What-the-Phage developers,

I am using your pipeline to detect viruses from large Metagenomics datasets.

For some large samples, VirFinder Output reached maximum so it omitted some of the output rows. The end of the VirFinder output from the raw_data folder has one line like below:

[ reached 'max' / getOption("max.print") -- omitted 3117 rows ]

This omission prevented me from getting the r

[2021-12-10 12:03] mult1fractal commented on #153
hey,

hmm.. you could split your input fasta file into multiple fasta files to reduce the lines that virfinder prints in the output file?

[2021-12-10 12:25] lingyi-owl commented on #153
Good idea! thanks.

[2021-12-11 15:29] phageattack commented on #152
Thaks for the quick fix!! but it gave me another error
Module compilation error
- file : /root/.nextflow/assets/replikation/What_the_Phage/./workflows/./process/input_validation/input_suffix_check.nf
- cause: Invalid process definition -- Unknown keyword `stub` @ line 36, column 9.
           """
           ^

[2021-12-12 21:37] replikation commented on #152
@phageattack ah you are using an older nextflow version or? please update to a newer or the most recent one. stub is the dry run feature of newer nextflow versions we included for continuous integration

[2021-12-14 14:57] lingyi-owl opened #154 "Integrating WtP pipeline to a snakemake pipeline and adding workflow controls"
Dear WtP developers,

I am making a snakemake pipeline having WtP integrated. The rule of WtP is attached below:
[code]

For the user convenience, it is better not to change the code in the rules. We use a config.yaml file for adjusting the parameters instead.
I set the workdir path, database path and other parameters in the config file. Now I also want to add the workflow control options to the c

[2021-12-15 11:03] replikation commented on #154
hi

* for a parameter that is just used as a "on/off" switch like `--identify`   its the same as `identify = true`  or if the flag is not used its `identify = false`
* nextflow allows btw to "inject" a ready to use json or yml config that you can prepare for users (`e.g.`-params-file run_42.yaml `) with all the parameters written in there for convinience

check 4. here (https://www.nextflow.io/blo

[2021-12-15 14:14] lingyi-owl commented on #154
Thanks!

[2021-12-16 13:03] lingyi-owl commented on #154
Hi,

I modified my config.yaml file with the following scripts:

`identify: true
    annotate: false
    dv: false
    ma: false
    mp: false
    pp: true
    sm: false
    vb: false
    vf: false
    vn: false
    vs: false
    ph: false
    vs2: false
    sk: false`

and ran my snakemake pipeline again.
It turned out that the pipeline still runs all of the tools instead of only running PPRmeta.

[2021-12-16 13:59] #154 closed

[2022-01-22 14:03] hoelzer opened #155 "PhaMer for identifying bacteriophages from metagenomic data"
This might be another interesting tool to add

* https://github.com/KennthShang/PhaMer
* http://arxiv.org/abs/2201.04778

[2022-01-23 20:17] hoelzer commented on #1
instead of `PhaMers` I would suggest to implement `PhaMer` as suggested here #155

[2022-01-26 12:08] #149 closed

[2022-01-26 12:08] #150 closed

[2022-01-26 12:08] #151 closed

[2022-01-26 12:08] #152 closed

[2022-01-26 12:09] #121 closed

[2022-01-26 12:10] #146 closed

[2022-02-02 03:06] quliping opened #156 "could not run wtp"
Hollow, first, I have finished the "--setup" step and it seemed to be successful. Then, I tried to run wtp as follows:
nextflow run replikation/What_the_Phage -r v1.0.1 --cores 8 -profile local,singularity --databases /public/data/database/wtp_database --cachedir /public/cachedir --workdir ./wtpwork --fasta ./JM65_10-12cm.fasta

However, it didn't work. The output is:
N E X T F L O W  ~  version 2

[2022-02-02 07:43] mult1fractal commented on #156
Hey ,

1. so first of all make sure you have the newest version of nextflow installed #152 (last three posts)
2.  run your command  with the pre-release
nextflow run replikation/What_the_Phage -r v1.0.3 --cores 8 -profile local,singularity --databases /public/data/database/wtp_database --cachedir /public/cachedir --workdir ./wtpwork --fasta ./JM65_10-12cm.fasta

Please tell me if `cannot open git-

[2022-02-05 01:48] quliping commented on #156
Thanks for your suggestion. I installed the neweast version of nextflow and told the absolute path of phage.nf to nextflow:
nextflow run /public/apps/What_the_Phage-master/phage.nf --cores 8 -profile local,singularity --databases /public/data/database/wtp_database --cachedir /public/cachedir --workdir ./wtpwork --fasta ./JM65_10-12cm.fasta --no-check-certificate
Indeed, the old problem was gone.

[2022-02-05 10:09] replikation commented on #156
ehm seems that something might went wrong on you system will doing a regular download. can you please remove the whole dir here:
/root/.nextflow/assets/replikation/What_the_Phage
so that nextflow can redownload the whole git? because "Repository may be corrupted:" seems to be related to the local git

[2022-02-06 12:38] quliping commented on #156
Thanks for your reply, and I have resolved all of these problems after downloading the pre-release version (v1.0.3) and runing as follows (Even I still could not run "nextflow run replikation/What_the_Phage -r v1.0.3", but it is ok now):

nextflow run /public/apps/What_the_Phage-1.0.3/phage.nf --cores 16 -profile local,singularity --databases /public/data/database/wtp_database --cachedir /public/c

[2022-02-06 15:36] replikation commented on #156
Hey that's a singularity error while creating a singularity container. But
is related to singularity and not WtP seems to be a setup/configuration
issue of singularity

quliping ***@***.***> schrieb am So., 6. Feb. 2022, 13:38:

[2022-02-17 09:33] mult1fractal opened #157 "Vibrant and virsorter 2 generate duplicate rows for similar contig"
Error: Each row of output must be identified by a unique combination of keys.
Keys are shared for 2 rows:
* 256, 257

Full report will fail on both tools

[2022-02-17 09:38] replikation commented on #157
the pain. is there a R solution for it? @AggresiveHayBale
do these row contain different information?

[2022-02-17 10:35] AggresiveHayBale commented on #157
We discussed it with Mike and we think its better to solve it outside R and not put a new coat of paint on a bug that wasn't solved.

[2022-02-18 07:58] #157 closed

[2022-02-25 15:06] mult1fractal opened #159 "weird, not reproducible error .. somtimes it occures sometimes it doesnt"
where: ERR576942_raw_assembly_report_heatmap_table.input
my suggestion: occures when this file is created or when the table is created: I think it comes from a grep error?
I'm investigating atm

[code]

[2022-03-09 10:09] #115 closed

[2022-03-09 11:51] #136 closed

[2022-03-09 11:51] #156 closed

[2022-03-09 11:52] #159 closed

[2022-03-09 13:52] #137 closed

[2022-04-07 02:59] dangchenyuan opened #160 "the conda installation problem of the newest version v1.1.0"
Hi,
When I installed the newest version v1.1.0 via conda command "nextflow run replikation/What_the_Phage -r v1.1.0 --setup ...", the error was shown "Cannot find revision `v1.1.0` -- Make sure that it exists in the remote repository `https://github.com/replikation/What_the_Phage`."
But when I changed to v1.0.3, it worked.

[2022-04-07 08:48] lingyi-owl commented on #160
I have the same issue and I want to use version v1.1.0. Can the developer help with us?

[2022-04-07 09:13] mult1fractal commented on #160
Hey,

have you tried:
`nextflow pull replikation/What_the_Phage`

then:
`nextflow run replikation/What_the_Phage -r v1.1.0 --setup ...`

[2022-04-07 09:27] mult1fractal commented on #160
yes that would have been my next suggestion...
unfortunately do not use conda at all and only work with Docker

[2022-04-07 09:34] dangchenyuan commented on #160
re-install seems not to work, since I have re-installed several times.

[2022-04-07 09:56] mult1fractal commented on #160
okay
quick fix:
go to your `What_the_Phage repo` - `git pull`
execute the workflow in the repo
`nextflow run phage.nf --setup..` without -r

this should execute the master branch which is v1.1.0

I try to find the problem and report it when I found the issue

[2022-04-07 10:02] lingyi-owl commented on #160
so I shouldn't use Conda, just download the v1.1.0 file, unzip it and do git pull?

[2022-04-07 10:09] lingyi-owl commented on #160
did it in the What_the_Phage repo cloned from the website, activated the Conda environment, and still got the same error

$~/What_the_Phage:nextflow run replikation/What_the_Phage -r v1.1.0 --setup -profile local,singularity
N E X T F L O W  ~  version 20.07.1
Cannot find revision `v1.1.0` -- Make sure that it exists in the remote repository `https://github.com/replikation/What_the_Phage`

[2022-04-07 10:51] mult1fractal commented on #160
what worked for me:
`nextflow drop replikation/What_the_Phage`
in the WtP repo
`nextflow run replikation/What_the_Phage --fasta ./test-data/stub_genome.fasta -stub -profile stub --cores 2 --max_cores 2 --dv --mp --pp --sm --vb -latest`

-latest executes the master branch =v1.1.0
@lingyi-owl could you please test this in your conda environment?
This is also just a quick fix
I don't know yet why nex

[2022-04-07 11:05] lingyi-owl commented on #160
Quickly tried you code and got this error:

[code]

I will update the nextflow version in Conda environment

[2022-04-07 11:10] mult1fractal commented on #160
Im running nextflow version 21.10.6

[2022-04-07 11:16] lingyi-owl commented on #160
it seemed running well this time but it didn't show the version of the wtp only showed a revision id:

`Launching `replikation/What_the_Phage` [condescending_mandelbrot] - revision: 1e53b61915 [master]`

[2022-04-07 11:21] mult1fractal commented on #160
if you saw the folling in the nextflow execution
`[ed/068a84] process > markdown_report_wf:upsetr_report (1)                   [100%] 1 of 1 ✔
[5c/70b911] process > markdown_report_wf:heatmap_table_report (1)            [100%] 1 of 1 ✔
[bb/043327] process > markdown_report_wf:checkV_report (1)                   [100%] 1 of 1 ✔
[-        ] process > markdown_report_wf:annotation_table_report

[2022-04-07 11:23] lingyi-owl commented on #160
thanks!

[2022-04-08 03:37] dangchenyuan commented on #160
@lingyi-owl
I still have not resolved the error following these above steps. Could you help me solve this problem?

[2022-04-08 05:04] dangchenyuan commented on #160
What means of the parameter of "-profile stub"? I only found "local, slurm, lsf, ebi, local, etc.".

[2022-04-08 08:28] mult1fractal commented on #160
stub generates dummy files for each process
imagine a "dry-run" of wtp without real data or sequences
its easier for development and checking eg. if I have the correct channels and processes linked

I think you shpould completely remove wtp from your system an clone the most recent git repo
`git clone https://github.com/replikation/What_the_Phage.git`

[2022-04-15 02:03] caris1988 commented on #160
I I had the same problem. Just type "v.1.1.0" instead of "v1.1.0".

[2022-04-15 02:57] dangchenyuan commented on #160
so it work well with "v.1.1.0" ?

[2022-04-15 11:29] mult1fractal commented on #160
I just created a new release where `-r v1.1.0`  is the correct release
as it is stated in the manual and the readme in this repo

so please do `nextflow pull replikation/What_the_Phage`

[2022-04-21 08:12] #160 closed

[2022-05-04 13:46] l-r-den opened #161 "nextflow log files not updating while wtp running"
Hi,

Does the nextflow process execution timeline continue to update through the entire wtp run (i.e. should all finished processes be showing up in the timeline as they're completed)?

Along those lines, should the .nextflow.log files be updating after 'nextflow.script.ScriptRunner - > Launching execution'?

wtp has been running overnight with processes still in progress, but since the log files

[2022-05-04 14:00] mult1fractal commented on #161
Hey,

I never had such a long run O.O
via htop you could check your pc workload  and see if WtP is doing some heavy computing.

You could try to stop the run (ctrl+c)  and then use your nextflow run command and add the -resume flag and then check if the log files are updating again.

the process execution timeline(and report).html is created after a finished run and is not being updated during a r

[2022-05-04 14:34] l-r-den commented on #161
Ok, I tried -resume and it might be working now (prodigal command is running). Also if it matters, I misread and I'm using closer to 20 cores

I'll try splitting the assembly file. With multiple input files does wtp run them one at a time?

Thanks again for the input

[2022-05-04 16:00] replikation commented on #161
@l-r-den depending on the system WtP tryies to parallel run samples and analyses. but it depends on the process (some need more cpu/ram). you can control this with the max_cores and cores flag.

e.g. on a 16 thread system (setting max_cores to 16) and using --cores 8 means it will run at most 2 processes in parallel. on a cluster/cloud there is no such limitation

[2022-05-06 09:38] mdhishamshaikh opened #162 "Uncommited changes?"
Hi,
I am trying to setup WtP and I am getting this error. Is it cause changes are being made to the repository right now and I should just wait a bit?

Project `replikation/What_the_Phage` contains uncommitted changes -- Cannot switch to revision: v1.1.0

Thank you.

[2022-05-06 09:50] mult1fractal commented on #161
Hey
In the previous iteration, we used the most likely phage sequences from the Phage prediction  process for the annotation part.

But there is the possibility the prediction tools could miss a contig... so it is more reasonable to annotate the whole input fasta file. This way all sequences will be annotated and possible phage genes can also be annotated on contigs that were not predicted by the

[2022-05-06 09:59] mult1fractal commented on #162
Hey,

That's probably because you changed something in the `replikation/What_the_Phage` repo (local) .. so I think its github related and not to WtP...

you could delete your WtP repo locally and clone it again
`git clone https://github.com/replikation/What_the_Phage.git`
this will give you the newest version of WtP
and this error should not occur

Hope this solves your issue... if not let me know

[2022-05-06 10:03] mult1fractal commented on #161
Ok I tested the --annotate part and it works
`nextflow run replikation/What_the_Phage --fasta test-data/T7_draft.fa --annotate --output results/git_issue_annotate --databases /media/6tb_1/Databases/nextflow-autodownload-databases/ --cores 20 -profile local,docker -work-dir /media/6tb_1/work/ -r v1.1.0`

Idk... maybe the Vibrant fasta file is broken?

[2022-05-06 19:14] l-r-den commented on #161
Ok thanks for testing that out. I'll try --annotate on some other fasta file and see what happens.

So wtp --annotate can take either full contigs with multiple phage genes on them and/or individual phage genes from the same contig?

 I didn't see a vibrant output file of the full input contigs that it found phage genes on & was thinking of pulling those out of my assembly and trying --annotate ag

[2022-05-07 12:46] mdhishamshaikh commented on #162
Hi,
So I am working in a conda environment on a HPC. I deleted all the files related to nextflow and singularity, and reinstalled them. It works until the singularity image building step.
I thought the issue was resolved in the latest release? Perhaps not. Would it be possible for you to help me circumvent this and download the singularity database? I could make another "issue" for this, if you pr

[2022-05-07 16:03] replikation commented on #162
did you try to redownload the images or the image that is not working?. this singularity building issue is sadly related to the singularity itself, not our workflow. you can delete and redownload the ones that fail (the setup o WtP should skip existing images).  I know it's a bit annoying. that's why we added the warning message.

[2022-05-09 07:03] bio-shun opened #163 "Tasks are ABORTED&FAILED ，Running time too long"
Hello, author!
My ubantu system uses docker to install Wtp v1 1.0. After installing the database (nextflow run replication / what_the_ph - R V1.1.0 -- setup - profile local, docker), Test the workflow (nextflow run replication / what_the_ph - R V1.1.0 -- cores 8 - profile smalltest, local, docker) and 'execution_report_test.html' displays successful in the file. The above can be considered that wt

[2022-05-09 07:43] replikation commented on #163
one quick solution would be to deactivate them ( see --help). difficult to say why they are taking so long without knowing your system and the input file

[2022-05-09 07:48] mult1fractal commented on #163
could you reduce the the select.fasta to one sequence and rerun? (without deepvirfinder and virnet)

[2022-05-09 20:49] mdhishamshaikh commented on #162
Hi,
It took a while. I had to add the $1 and $2 paths myself in download_singularity.sh script. I could download all the images now.
Though now the databases are not getting downloaded. I'll add another issue and close this one.

Thank you.

[2022-05-09 20:49] #162 closed

[2022-05-09 20:50] mdhishamshaikh opened #164 "Issues downloading database inspite of --no-check-certificate"
Hi,
I ran this.
`nextflow run replikation/What_the_Phage -r v1.0.3 --no-check-certificate --cachedir ./singularity_images/ --setup -profile local,singularity --workdir ./work --databases ./nextflow-autodownload-databases/`

and I got the following output
[code]
I thought with the --no-check-certificate, the issue should have been resolved.
I got the same error with v1.1.0

Should I be downloading

[2022-05-10 09:18] replikation commented on #164
ah no the `--no-check-certificate` needs to be added to the `wget` command within the workflow. @mult1fractal can you check and update any wget where its missing?

[2022-05-10 10:23] replikation commented on #164
@mdhishamshaikh could you try a more recent version of WtP? (e.g. v1.1.0)

[2022-05-10 10:42] mdhishamshaikh commented on #164
Hi,
I have the same issue with v1.1.0
[code]

[2022-05-10 12:18] lingyi-owl opened #165 "Install singularity without admins permissions"
Dear developer,

I am building a Snakemake pipeline with WtP nextflow embedded in a wrapper. The script is attached below. The `cachedir` points to a folder containing singularity images. Our bioinformatician @papanikos helped me build the images before. Now I want to build the singularity myself again. This tutorial https://mult1fractal.github.io/wtp-documentation/installation/Engine/singularity/

[2022-05-10 12:38] mult1fractal commented on #165
Hey,
Unfortunately, I have that much experience with singularity... maybe you find something [here](https://sylabs.io/guides/3.5/user-guide/quick_start.html) ?

[2022-05-11 08:11] mult1fractal commented on #164
Hi @mdhishamshaikh
I added now all `--no-check-certificate` to the `wget's`
Could you please test it? if it works I will create a new release candidate

To test it:
`nextflow run /path/to/wtp-dir/phage.nf --cachedir ./singularity_images/ --setup -profile local,singularity --workdir ./work --databases ./nextflow-autodownload-databases/`

[2022-05-11 08:47] papanikos commented on #165
Hi @lingyi-owl . Have you tried the `--setup` workflow as documented [here](https://mult1fractal.github.io/wtp-documentation/installation/quick_installation/) under `Conda Usage` ?
For a first time interactive run you can use that to setup the images and databases locations.

If you want to include this as a step in your workflow - which can be unstable and lead to some frustration IMO - you would

[2022-05-12 09:25] mult1fractal commented on #164
hmm... in the code for each profiles (slurm, cloud, local) we have `workDir = params.workdir`
you could try:
`-work-dir /tmp`
and reexcecute the command the full command without --workdir

if you don't specify any --workdir the process files will be stored here `/tmp/nextflow-phages-$USER`

maybe you got a typo in the path of --workdir?

for chromomap: its normal that it fails up to three times (c

[2022-05-12 10:20] mult1fractal commented on #164
ah ok... uhm then redirect the process files to the the place where you have enough storage left.
`--work-dir` is wrong (i need to update it.. sorry.. when you write, sometimes you don't see errors anymore...)
use `-work-dir /path/to/free_space`

[2022-05-12 10:29] mult1fractal commented on #164
explaination of `-work-dir`
i guess its built in into nextflow to redirect the process files anywhere you want
`--workdir` is a parameter/flag created in our workflow to redirect the output to the `/tmp` of the user... but also can be overwritten by the user by providing a /foo/bar...

At least that's how I understood the `-work-dir` ... I will try to find it in the nextflow documentation and link

[2022-05-16 09:24] lingyi-owl commented on #165
It worked. thank you! @papanikos

[2022-05-16 09:24] #165 closed

[2022-05-16 09:36] replikation commented on #165
thanks for helping out @papanikos

[2022-07-04 19:36] ntromas opened #166 "virsorter2 terminated with an error"
Hi,

I just got this error with 2 different run and I wonder if there is anything to correct this.

Here is the error:
NOTE: Process `virsorter2_wf:virsorter2 (1)` terminated with an error exit status (1) -- Error is ignored

Here is the command:
nextflow run replikation/What_the_Phage --fasta /media/nico/MyBook2/co-assembly/Argal/Selected_dvf_contigs.fa --cores 8 -profile local,docker -r v1.1.0 -

[2022-07-05 08:34] mult1fractal commented on #166
Hey,

But the WtP run finished?

This is an error strategy that prevents the full run from failing. so it's intended by WtP.
So the workflow is not failing... only the tool. That means it is a tool-related problem. But from the data you provided I cannot tell what could be wrong?

Maybe your input fasta file was too big to be analysed by virsorter2?

Also, could you try to use -r v1.1.0 and reanal

[2022-07-05 13:22] ntromas commented on #166
Hi,

The run is still in progress but I wonder how to avoid that VirSorter2 fails, maybe reducing the input size as you suggested? What is the max size the different tools could support, any idea?

Thanks!

[2022-07-06 08:53] xanadu314 opened #167 "Could download database by myself?"
Due to the bad network environment,Can I download the database manually？

[2022-07-13 04:14] quliping opened #168 "Could not run wtp with 'nohup'"
Wtp is a wonderful software and it help me a lot. However, I had some problems
I want to run wtp with the 'nohup' command. Wtp exit immediately after I ran my script:
![微信截图_20220713120119](https://user-images.githubusercontent.com/39583607/178648118-8c2bc7fb-5184-4707-bc3e-fc67a71110bc.png)

Here are my  command lines in the sh file:
conda activate wtp
nextflow run /public/apps/What_the_Phage-1.1

[2022-07-13 07:39] mult1fractal commented on #168
hey thank you for the nice feedback :)

Unfortunately this is the first time that I see this command... so I did not tested this

If I understand correctly it continues the program/command even if the terminal is closed.
In this case I use [screen](https://linuxize.com/post/how-to-use-linux-screen/)
I use screen eg. if I work from home. I start the process or workflow regular in the screen (wich i

[2022-07-13 08:03] quliping commented on #168
Thanks for your reply. Your understanding is completely right and your advice is working. Thank you so much!!!!
![0B7BFC89](https://user-images.githubusercontent.com/39583607/178682749-32720716-06dc-4be2-a76b-dc0c77df1334.png)

[2022-07-13 08:59] #167 closed

[2022-07-13 08:59] #168 closed

[2022-07-18 07:35] mult1fractal commented on #166
cool:)

Yes we also thought about a progress bar for the processes but to my knowlege nextflow hasn't anything like this...
although each process has a % value...but this is more for how many samples are already completed/analyzed.

I also think this has to be somehow integrated in the tools so I could parse the progress to be displayed

------

ehm.... you mean if you have analysed e.g. 10 differ

[2022-07-26 03:08] quliping opened #169 "Workflow execution completed unsuccessfully"
Hellow! I have successfully run wtp using example data on my computer, while the calculation of my own sample seems not finish completely. Here is the wtp report and the screenshot of the results dir. What's wrong?

**[execution_report.zip](https://github.com/replikation/What_the_Phage/files/9186224/execution_report.zip)**

![微信截图_20220726110604](https://user-images.githubusercontent.com/39583607/

[2022-07-26 07:37] mult1fractal commented on #169
yes this bug is super annoying.... I' sorry for the inconveniece... yesterday I had the same bug
vibrant is generating some weird duplicates and the R Markdowntable therfore is failing. I resolved it some time ago, but only covered the possible errors in my examples

what you can do :
`nextflow command ......` `--vb -resume dd6f5769-744e-471d-b29a-4da48627e8c8`

the big number behind resume is the

[2022-07-26 10:28] quliping commented on #169
Thanks for your reply. Here is a compressed file of the dir '/public/home/qlp/seamount-meta/00_new_workdir/wtpwork/GT1_workdir/7f/6f6f680db7108acf3546f8b5623562'

[6f6f680db7108acf3546f8b5623562.tar.gz](https://github.com/replikation/What_the_Phage/files/9188926/6f6f680db7108acf3546f8b5623562.tar.gz)

[2022-07-26 10:30] quliping commented on #169
Thanks for your reply. Here is a compressed file of the dir '/public/home/qlp/seamount-meta/00_new_workdir/wtpwork/GT1_workdir/7f/6f6f680db7108acf3546f8b5623562'

[6f6f680db7108acf3546f8b5623562.tar.gz](https://github.com/replikation/What_the_Phage/files/9188945/6f6f680db7108acf3546f8b5623562.tar.gz)

[2022-08-03 11:13] dinahoch opened #170 "."

[2022-08-03 11:17] dinahoch opened #171 "Errors running WtP"
Hi,

I've been trying to run WtP for a couple of days now and keep encountering errors that have been challenging to resolve. The latest is:

[code]

I am running the code ```nextflow run replikation/What_the_Phage -r v1.0.1 --cores 8 -profile smalltest,singularity --database WtP_Nextflow_databases_unzip/``` using an unzipped database that I downloaded from here: https://osf.io/wtfrc/

It seems th

[2022-08-03 11:23] mult1fractal commented on #171
Hey :)

could you please run `-r v1.1.0`

in the version you use I had not yet implemented the failsave for database downloads that you are encountering atm.

Also could you delete the `WtP_Nextflow_databases_unzip` folder to make sure the proper databases will be used/downloaded

[2022-08-03 11:23] #170 closed

[2022-08-03 11:51] replikation commented on #171
might also be some firewall issue? i mean its the Ebi it should be reachable

[2022-08-03 11:52] mult1fractal commented on #171
mhh...
I think the pvogs download page is down

[2022-08-03 11:55] replikation commented on #171
yeah but its stored at `ftp://ftp.ebi.ac.uk`

[2022-08-03 12:47] dinahoch commented on #171
Thank you all for your suggestions :)

I am now running the command ```nextflow run replikation/What_the_Phage -r v1.1.0 --setup -profile local,singularity``` and getting the error message:

[code]

I’m not sure what the problem is, but I do see that in the phage_deprecated.nf script, it directs to ```"${params.databases}/pvogs/"```, while the relevant file seems to be ```WtP_Nextflow_databases/pv

[2022-08-04 07:13] dinahoch commented on #171
[code]

Still no luck...

[2022-08-04 07:38] mult1fractal commented on #171
ok, mhh, I'm not a singularity expert as I only use docker
what I could think of that there are still some "wrong singularity-images" that are being used from your first setup try (v1.0.1)
could you remove the "old singularity images"

and execute this command `nextflow run replikation/What_the_Phage -r v1.1.0 --setup -profile local,singularity` with `--cachedir IMAGE-LOCATION`  as described here:

[2022-08-04 07:56] dinahoch commented on #171
😢 Still not working. If you have a bit of time to help me directly I would really appreciate it. I've emailed you!

[2022-08-04 09:51] mult1fractal commented on #171
solved via google meeting

[2022-08-04 09:51] #171 closed

[2022-08-04 10:51] quliping commented on #169
Has this bug been solved? And I found the other error, that the 'phigaro_wf:phigaro' also failed. Here is the log:

WARNING: underlay of /etc/localtime required more than 50 (95) bind mounts
Please, create config file using phigaro-setup script

[2022-08-04 11:06] dinahoch commented on #171
In case anyone has a similar issue, this was resolved by cloning the github depository and running the script directly using the commands
[code]

Thank you Mike for taking the time to help! 😄

[2022-08-04 11:13] mult1fractal commented on #169
Hey,

I'm currently working on the revision of the WtP manuscript as this is more time critical atm.
Next week Monday I will adjust the WtP code accordingly to some of the reviewer's comments. That's also when I will fix the bug you encountered.

As for Phigaro:
I think this is Phigaro-related and not WtP related.
The Phigaro dev helped us with the integration so it is better to ask her directly i

[2022-08-15 13:02] mult1fractal commented on #169
ok I found that the error was related to virsorter2:
it generated at some point `nan` values instead of `0`
and the R report will only work with numeric values (in your execution_report.zip)

I'm currently fixing this and it will be updated by the end of this week

[2022-09-14 09:34] #163 closed

[2022-09-30 04:00] quliping opened #173 "Some tasks failed when using v1.2.0 of Wtp"
I'm so happy that the question which I mentioned before about [virsorter2](https://github.com/replikation/What_the_Phage/issues/169#issuecomment-1214987138) was solved. By the way, previous quention about [phigaro](https://github.com/replikation/What_the_Phage/issues/169#issuecomment-1205092921) was also resovled by running `singularity run /public/cachedir/multifractal-phigaro-0.5.2.img` then `ph

[2022-09-30 07:03] mult1fractal commented on #173
Hey quliping

1 & 2
the difference from v1.1.0  to v1.2.0 is that I removed not benchmarked tools them from the default execution.
So I did not touch any tool processes. It also seems more tensorflow related?  But unfortunately I have no experience with tensorflow.

3.
Yes this is a real problem... see here #169
again I need the files to solve this

4.
I will run your command and check what happen

[2022-09-30 09:08] quliping commented on #173
Thanks for your reply. You mean the files from work dir, right? I put associate files just above the picture from each problem. For problem-3, the zip file was named '35.zip'.
![image](https://user-images.githubusercontent.com/39583607/193235780-de7b6286-717a-41e8-8013-e12842aa552d.png)
You can also use this link to download: https://github.com/replikation/What_the_Phage/files/9680558/35.zip

[2022-09-30 09:14] mult1fractal commented on #173
I used the following command:
```nextflow run phage.nf -profile local,docker,smalltest -work-dir /media/6tb_1/work/ --cores 20```

and the workflow finished succesfully.
could you delete and reload the singularity image? (nanozoo/r_fungi:0.1--097b1bb)
idk why the docker?singularity image is not working now... it is locked to a specific version (I also didnt touched it in the new release)

I will a

[2022-09-30 10:49] mult1fractal commented on #173
so I removed all docker containers installd on my machine and run the command again
```nextflow run phage.nf -profile local,docker,smalltest -work-dir /media/6tb_1/work/ --cores 20```

the workflow finished successfully and I can't reproduce this error.
Also your files look fine (b6)

[2022-11-02 22:19] deminatanja opened #174 ""rm" missing in the metaphinder script?"
Hi,

It seems like there should be  "rm" before  "references.tar.gz" and after "rm -r references" in ../workflows/process/metaphinder_own_DB/download_references.nf and in ../workflows/process/phage_tax_classification/download_references.nf?

Best,
Tatiana

[2022-11-08 02:13] ShailNair opened #175 "Installation error"
Hi,
Thanks for the awesome tool. Is there any alternate way to pull and set up the package?
GitHub cannot be accessed by my institute's server.
I attempted by manually downloading the package (v1.2.0) and pushing it to the /home/user/.nextflow/assets/replikation/What_the_Phage
directory
However when I try to set up the database as :

`nextflow run replikation/What_the_Phage --setup -r v1.2.0 -prof

[2022-11-08 10:02] mult1fractal commented on #175
Hey

This seems git related:
I usually get this error when when I create a file or change sth in a file, and then change to another development branch

You can use git checkout (in the WtP folder) to see what files were changed and remove them or move them to another folder

otherwise remove the What_the_Phage folder completely:
and then:
[code]

Hope this helps

[2022-11-09 08:07] ShailNair commented on #175
Hi,

Thanks for the quick reply.

[code]

If I remove these files still i get the same error as:

[code]

The problem is my lab's server cannot access GitHub. If I clone `What_the_Phage.git` on a different computer and then transfer it to the server I get the same error as I mentioned in my first post.

Hence, `nextflow pull` cannot download the required files because it cannot access GitHub on my

[2022-11-18 07:25] deminatanja opened #176 "Deepvirfinder error"
Hi,

I have comes across the following error with Deepvirfinder when running WtP:
...
FileExistsError: [Errno 17] File exists: '/users/MY_USER_NAME/.theano/compiledir_Linux-4.18-el8_6.x86_64-x86_64-with-debian-10.0--3.6.9-64/lock_dir'
"""

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/DeepVirFinder/dvf.py", line 184, in <module>

[2022-11-18 09:28] mult1fractal commented on #176
Hi,
I think this is more related to Deepvirfinder then WtP

I think we had an `.theano` issue before #31

Could you run WtP with a smaller fasta input file: ~50Mb